@import '../../../../styles/base.scss';

.container {
  overflow: auto;
  max-height: 70vh;
}

.inputField {
  margin-bottom: 30px;
}

.twoInputContainer {
  display: flex;
  justify-content: space-between;
}

.paddingToLabel {
  label {
    padding-left: 30px;
  }
}

.halfInputField {
  width: 50%;
  margin-bottom: 30px;
}

.radioContainer {
  display: flex;
  margin-top: 30px;

  label {
    width: 25%;
  }
}

.aqmd_dropdown {
  margin-left: 10px;
  margin-right: -8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  select {
    margin-left: -2px !important;
  }
}

.aqmd_dropdown2 {
  width: 50%;
  label {
    width: 50% !important;
  }

  select {
    width: 50% !important;
    margin-left: 4px !important;
  }
}

.dropdownContainer {
  display: flex;
  justify-content: space-around;
}

.inputsContainer {
  display: flex;
  justify-content: space-around;
  font-size: large;
  font-weight: bold;
  input {
    width: 50% !important;
    margin-left: -5px !important;
    margin-right: -12px !important;
  }
  label {
    width: 50% !important;
    margin-left: -5px !important;
  }
}

.inputContainer {
  input {
    margin-left: -3px !important;
  }
  label {
    font-size: large;
    font-weight: bold;
  }
}

.btnContainer {
  position: relative;
  float: right;
}

// upload questions styles --------------------------------
.uq_container {
  margin-top: 30px;
  // min-height: 40vh;
  // padding-right: 30px;
  // padding-top: 30px;
}

.small {
  position: relative;
  font-size: 11px;
  float: right;
  font-weight: 100;
  color: $darkThree;
  padding-bottom: 2px;
}

.uq_second {
  font-size: medium;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 300;
}

.uq_second span {
  position: relative;
  float: right;
  font-size: 14px;
}

.uq_second button {
  width: 20%;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: none;
  outline: 0;
  border: 0;
  font-size: 14px;
  background-color: $primary;
  font-weight: 550;
  margin-left: 180px;
}

// upload button styles --------------------------------
.row {
  width: 100%;
  //margin: 30px 0;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my_30 {
  //margin-top: 30px;
  margin-bottom: 30px;
}

.col_25 {
  width: 25%;
  position: relative;
  top: -10px;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 600;
}

.col_75 {
  width: 75%;
}

.input_icon span img {
  width: 30px;
  margin: 5px 10px 5px 0;
}

.upload_btn_wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border: 2px solid $primary;
  background-color: #202222;
  border-radius: 3px;
  color: #858f8f;
  font-size: 13px;
  font-family: 'Open Sans';
  /* border: 2px solid #63c0c0;
  color: gray;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;*/
  width: 100%;
  display: flex;
  align-items: center;
}

.upload_btn_wrapper input[type='file'] {
  font-size: 10px;
  position: absolute;
  width: 50%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.preview_remove_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview {
  position: relative;
  font-size: 13px;
  color: $white;
  cursor: pointer;
  float: left;
  font-weight: bold;
  padding-top: 2px;
}
.remove {
  font-size: 13px;
  color: #858f8f;
  cursor: pointer;
  float: right;
  color: $primary;
  font-weight: bold;
  padding-top: 2px;
}
