@import '../../../styles/base.scss';

.uq_container {
  margin-top: 30px;
  // min-height: 40vh;
  // padding-right: 30px;
  // padding-top: 30px;
}

.small {
  position: relative;
  font-size: 11px;
  float: right;
  font-weight: 100;
  color: $darkThree;
  padding-bottom: 2px;
}

.uq_second {
  font-size: medium;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 300;
}

.uq_second span {
  position: relative;
  float: right;
  font-size: 14px;
}

.uq_second button {
  width: 20%;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: none;
  outline: 0;
  border: 0;
  font-size: 14px;
  background-color: $primary;
  font-weight: 550;
  margin-left: 180px;
}
