@import '../../../styles/base.scss';

.proctor_section{
    width: 100%;

    .proctor_section_btn{
        margin-top: 4px;
        width: 50%;
        border: none;
        background: transparent;
        cursor: pointer;
        color: $white;
    }
    .proctor_section_btn:nth-child(1){
        border-right: 1px solid $white;
    }

    .proctor_section_img{
        //padding: 1px 14px;
        height: 120px;
        width: 212px;
        margin: 5px auto;
        background: #5bc0de;
    }
    .proctor_section_info{
        display: flex;
        justify-content: space-between;
        padding: 0 14px;
        font-size: 12px;
        color: $white;
    }
    .proctor_section_info:nth-child(1){
        color: $darkThree;
        font-size: 12px;
    }
    .proctor_full_width{
        width: 100%;
    }
}