@import '../../styles/base.scss';

.answerKey {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  // width: 100vw;
  // height: 100vh;
  margin-top: 70px;
  background-color: $bgContent;
  color: $white;

  .backBtn {
    position: absolute;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;

    button {
      border: 0px;
      background-color: inherit;
    }
  }

  h2 {
    margin: 20px auto;
  }

  .dropdownInput {
    flex: none;
    width: 150px;
  }

  .tableContainer {
    text-align: center;
    margin: 20px auto;
    min-width: 700px;

    p {
      margin: 10px;
    }

    div {
      padding: 0px 10px;
    }
  }
}

.questionPaper {
  padding: 10px 50px;
  width: 100%;

  height: 50vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .questionCard {
    padding: 10px;

    > div {
      padding: 10px;
    }
  }
}

.loadingExamScreen {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: $darkOne;
  display: flex;
  align-items: center;
  justify-content: center;
}
