.assignCoursePopUp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  margin-left: 15px;

  .assignCoursePopUpTitle {
    font-size: larger;
  }

  .dataPickerStyle {
    display: flex;
    padding-right: 15px;
  }
  label {
    font-size: medium;
    font-weight: 400;
  }

  section {
    p {
      margin-bottom: 10px;
    }
  }

  .assignCourseButtonContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    gap: 10px;
  }
}
