$textColor: #ACACAC;

.chatBox {
  width: 296px;
  padding: 10px 0;
}

.profileImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.personName {
  font-weight: 400;
  font-size: 15px;
  color: #acacac;
  margin-left: 10px;
}

.iconName {
  width: 75%;
  display: flex;
}

.messageTime {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: $textColor;
}

.messageHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainMessage {
  width: 100%;
  // min-height: 30px;
  // max-height: 100%;
  display: flex;
  margin: 5px 0;

  div {
    width: 255px;
    display: flex;
    // text-align: justify;
    margin: auto;
    padding-left: 15px;
    height: 100%;
    color: $white;
    // height: max-content;
    // float: right;
    font-size: 14px;
  }
}