@import '../../../styles/base.scss';
.Congratulations_Head {
  width: 100%;
  // height: 400px;
  // margin-right: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  text-align: center;
  color: $white;
}
.congratulations_img {
  // margin-right: 20%;
}
.congratulations_text {
  text-align: center;
  // margin-right: 100px;
}
.title {
  text-transform: uppercase;
}
