@import '../../../styles/base.scss';
.Congratulations_Head{
    width: 72%;
    // height: 400px;
    // margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.congratulations_img{
    // margin-right: 20%;
}
.congratulations_text{
    text-align: center;
    // margin-right: 100px;
}
.title{
    text-transform: uppercase;
}