@import '../../../styles/base.scss';

.questionCountContainer{
    width: 262px;
    height: 300px;
    padding: 10px;
    background: $black;
    display: grid;
    grid-template-columns:repeat(5,50px) ;
    grid-template-rows: repeat(auto-fill,50px);
    margin: 10px 15px;
    
}