@import '../../../styles/base.scss';

.questionCountContainer {
  width: 90%;
  height: 250px;
  padding: 10px;
  background: $black;
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-template-rows: repeat(auto-fill, 38px);
  margin: 5px auto;
}
