@import '../../../styles/base.scss';

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;

  background-color: $black;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;

  font-size: 16px;

  padding: 10px;

  img {
    max-height: 15px;
  }
}
