@import '../../../../styles/base.scss';

.options img {
  height: 100px;
  width: 200px;
  top: 20px;
  object-fit: contain;
  object-position: left;
}

.options {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  color: $darkThree;
}

.options div {
  margin-left: 10px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $secondaryBlack;
  width: 60%;
  height: 120px;
  padding: 5px;
  text-align: center;

  div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
