@import '../../../styles/base.scss';

.login_email{
    // flex: 1;
    width: 100%;
    margin: 8px 0px;
    display: flex;
    border: 2px solid #6bcfcf;
    border-radius: 3px;
    button{
        background: $darkOne;
        outline: 0;
        border: 0;
    }
}
input .mail{
 border: 2px solid $primary !important;
}
.login_email input{
    color: $white;
    background-color: $darkOne;
    width: 100%;
    outline: 0;
    border: none;
    // flex: 1;
    //color: $secondaryBlack;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 16px;
  
    // background-image:url('/images/svg/visibility.svg'); 
    // background-repeat: no-repeat;
    // background-position: center;
    // border: 2px solid $primary;
}

.small_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        font-size: 14px;
        color:$secondaryBlack;
        font-weight: bold;
        padding: 6px 0px 3px;
        cursor: pointer;
    }

    p:hover{
        color: $primary;
    }
}


.login_email_input {
    color: $white;
    background-color: $darkOne;
    width: 100%;
    outline: 0;
    //border: 0;
    border: 2px solid #6bcfcf;
    // flex: 1;
    //color: $secondaryBlack;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 5px;
}
