.firstFourCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

// wrapper for all section below first four cards
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  padding: 20px;

  border-radius: 5px;
  background-color: $darkTwo;
  // background-color: #242630;
  color: $white;

  .wrapperHeading,
  .wrapperSubHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5rem;
    font-weight: 500;
  }

  .wrapperSubHeading {
    font-size: 1.2rem;
  }

  .bottomBorder {
    border-bottom: 1px solid $secondary;
  }

  .sectionHeaderActionBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.categoryAndExpertiseAvailability {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.downloadBtn {
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  width: fit-content;
  min-width: 0;

  padding: 5px 15px;
  margin: 0;

  p {
    font-weight: 500;
    font-size: 16px;
    color: $primary;
  }
}

.sortBtn {
  color: $darkThree;
  font-size: 13px;

  display: flex;
  gap: 5px;

  cursor: pointer;

  span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    svg {
      max-width: 10px;
      padding: 0;
      margin: 0;
    }
  }
}

// top course section
.tableContainer {
  .seeMore {
    color: $primary;
    display: flex;
    gap: 5px;

    cursor: pointer;
  }
}

.barGraphContainer {
  height: 380px;

  display: flex;
  justify-content: center;
  align-items: center;
}
