@import '../../styles/base.scss';
// availabilityCard
.availabilityCard {
  // background-color: $darkOne;
  // background-color: #242630;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  // border: 1px solid #30323f;
  border: 1px solid $darkThree;
  gap: 10px;
  justify-content: center;

  .availabilityCardFirst {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .imgText {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 8px;
      gap: 8px;
      font-weight: 500;
      font-size: 20px;
      color: #eaeaea;
    }

    img {
      width: 30px;
    }
  }

  .availabilityCardSecond {
    display: flex;
    gap: 10px;
    align-items: center;

    .card_count {
      font-weight: 500;
      font-size: 40px;
      color: #eaeaea;
    }

    .card_text {
      font-weight: 400;
      font-size: 16px;
      // color: #919397;
      color: $darkThree;
    }
  }
}
// badge
.badge_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  min-width: 150px;
  padding: 8px 16px;
  background-color: $secondary;
  // background-color: #1A1B26;
  // border: 1px solid #30323F;
  border-radius: 50px;

  .badge_count,
  .badge_text {
    font-size: 18px;
    // font-weight: 400;
    color: #eaeaea;
  }
}
// Pill 
// .badge_wrapper{
//     display: flex;
//     align-items: center;
//     gap: 5px;
//     justify-content: center;
//     min-width: 150px;
//     padding: 8px 16px;
//     // background: #1A1B26;
//     border: 1px solid #30323F;
//     border-radius: 50px;
//     .badge_count, .badge_text{
//         font-size: 18px;
//         font-weight: 400;
//         color: #eaeaea;
//     }
// }
// Progress Bar
.progressBarFooter {
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .percent {
        color: $primary;
      }
    }

    .progress {
      height: 10px;
      background-color: $secondary;
      margin-top: 10px;

      span {
        height: 100%;
        background-color: $primary;
      }
    }
  }
// Card header
.cardHeader {
  background: $darkTwo;
  border: 1px solid $darkThree;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 15px;
  max-width: 150px;
  cursor: pointer;
  p {
    font-weight: 500;
    font-size: 16px;
    color: $primary;
  }
}
//   StatisticsCard
  .card_wrapper{
    // background-color: #242630;
    background-color: $darkTwo;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    // border: 1px solid #30323F;
    border: 1px solid $darkThree;
    .card_head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card_title{
            font-weight: 300;
            font-size: 18px;
            color: #EAEAEA;
        }
        .card_img img{
            background-color: $secondary;
            // background-color: #2B2D36;
            border: 1px solid #30323F;
            border-radius: 4px;
            padding: 14px;
        }
    }
    .card_count{
        font-weight: 500;
        font-size: 1.5rem;
        color: #EAEAEA;
    }
    .card_text{
        font-weight: 400;
        font-size: 16px;
        color: #919397;
    }
    .pill_wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    }
    // Switch Button
    .switchContainer {
      display: flex;
      align-items: center;
      background-color: transparent;
      outline: 0;
      border: 0;
      cursor: pointer;
    }
    
    .text {
      color: $white;
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
      margin: auto;
      // margin-bottom: 15px;
      margin-left: 8px;
      z-index: 100;
    }

// Dropdown
.dropdown > div > div:first-of-type{
  // background: #1A1B26;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  outline: none;
  width: 200px;
}
// Dashboard Table
// .table_container{
//   background-color:$darkTwo;
//   width: 100%;
//   padding: 20px;
//   border-radius: 5px;
//   text-align: left !important;
// }