@import '../../../../styles/base.scss';

.inputField {
  margin-bottom: 30px;
}

.inputLabelGap {
  margin-top: 20px;
}
.checkboxContainer {
  display: inline-block;
  margin: 10px 0;

  label {
    margin-right: 10px;
  }
}

.scheduleContainer {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-row-gap: 20px;
  grid-column-gap: 10%;

  > section {
    display: flex;
    justify-content: space-between;

    > label,
    > div {
      width: 100%;
    }
  }
}

.stretchDuration {
  grid-column: 1/3;
  margin-left: 25%;
}

.configurationContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: start;
}

.instructionsContainer {
  display: flex;
  gap: 10px;
  margin-left: 25%;

  > div:nth-child(2) {
    label {
      text-align: right;
      padding-right: 40px;
    }
  }
}

.passingCriteriaContainer {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-bottom: 20px;

  input {
    padding: 10px;
    margin: 0;
    height: 100%;
    background-color: $darkTwo;

    color: $secondaryBlack;
    font-size: 13px;
    font-family: 'Open Sans';

    border: 2px solid $darkThree;

    &:not(:placeholder-shown) {
      /* You need to add a placeholder to your fields. For example: <input "placeholder=" "/> */
      color: $white;
      border: 2px solid $primary;
    }
    &:focus {
      border: 2px solid $primary;
      box-shadow: 0px 0px 10px 0px $primary;
      outline: 0;
      color: $white;
    }
  }
}

.totalMarksSection {
  display: grid;
  grid-template-columns: 50% 30% 20%;

  div {
    &:first-child {
      input {
        width: 40%;
      }
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.attemptsContainer {
  display: flex;
  margin-bottom: 20px;

  > div {
    &:first-child {
      margin-left: 25%;
    }
  }
}
.passingCriteriaOuterContainer {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-bottom: 30px;
  label {
    width: 25%;
  }
  .passingCriteriaInnerContainer {
    display: flex;
    border: 2px solid $darkThree;
    padding: 5px;
    width: 75%;
    input {
      flex: 0.75;
      color: $darkThree;
      background-color: $darkTwo;
      border: 0;
      &:focus {
        outline: 0;

        // border: 2px solid $primary;
        // box-shadow: 0px 0px 10px 0px $primary;
        // color: $white;
      }
    }
    select {
      flex: 0.25;
      padding: 5px;
      color: $darkThree;
      background-color: $darkTwo;
      border: 0;
      border-left: 2px solid $darkThree;
      &:focus {
        outline: 0;
      }
    }
  }
}
