@import '../../../styles/base.scss';
.firstFourCards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}
.wrapper{
    background-color: #242630;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapperHeading{
    font-size: 1.5rem;
    font-weight: 500;
    color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapperSubHeading{
    font-size: 1.2rem;
    font-weight: 500;
    color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categoryAndExpertiseAvailability{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}