@import '../../../styles/base.scss';

.mcq_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 20px;
}

.option_container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  // margin-top: 10px;
  // padding-left: 30px;
  padding-bottom: 10px;
}

.quesImg {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  color: $darkThree;
  font-weight: bold;
  img {
    height: 100px;
    width: 200px;
    object-fit: contain;
    // object-position: left;
  }
}

.btn {
  margin-left: 35%;
  margin-top: 20px;
}

.btn button {
  float: right;
}

.span_element {
  display: flex;
  color: $white;
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 10px;
  :nth-child(1) {
    margin-right: 10px;
    color: $darkThree;
    font-weight: bold;
  }
  :nth-child(2) {
    text-align: left;
  }
}

.qtitle {
  margin: 0 auto;
}

.qcontent {
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: -10px;
  :nth-child(3) {
    margin-left: 20px !important;
    margin: 20px 0;
    color: $darkThree;
    font-weight: bold;
  }
}

.hint {
  font-size: 14px;
  color: $darkThree;
}
