@import '@/styles/base.scss';

.expertiseSearchBar {
  margin-top: 10px;
  margin-bottom: 20px;
  img {
    position: absolute;
    left: 97%;
  }
  input {
    padding-left: 10px;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.expertiseCheckbox {
  display: inline-block;
  margin: 10px 0;
  border: 1px solid $secondary;
  border-radius: 4px;
  margin-right: 10px;
  padding: 12px 16px;

  label {
    margin-right: 10px;

    &:disabled {
      opacity: 0.5;
    }
  }
}

.headingContainer {
  margin-top: 20px;

  .heading {
    font-size: 20px;
    font-weight: 600;
  }

  .subheading {
    font-size: 15px;
    color: $bgBody;
  }
}

.userInput {
  margin-top: 10px;

  .input {
    background-color: transparent;
    border: 2px solid $darkThree;
    border-radius: 5px;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDownMain {
  margin-top: 8px;
}

.userTypeAndEmail {
  display: flex;
  gap: 20px;

  .userType,
  .email {
    width: 50%;
  }

  .vendorDropdown {
    width: 50%;

    .dropdown {
      margin-top: 9px;
    }
  }
}

.emailExternal {
  margin-top: 10px;
}

.trainingProfile {
  margin-top: 20px;
}

.trainerOptions {
  display: flex;
  align-items: center;

  .trainerImage {
    width: 40px;
    margin-right: 15px;

    img {
      width: 100%;
      border-radius: 100% 100%;
    }
  }

  .nameEmailTrainer .email {
    opacity: 0.7;
  }
}

.addTrainingExpertiseContainer {
  padding: 0px 50px;
}

.footerButton {
  display: flex;
  justify-content: flex-end;

  button {
    border-color: $primary;
  }

  button:hover {
    color: $primary;
  }
}

.websiteSocialDiv {
  display: flex;
  margin-top: 20px;
  gap: 25px;

  .input3 {
    width: 50%;

    label {
      font-weight: 400;
    }

    input {
      width: 100%;
      margin-top: 8px;

      border: 1px solid #747474;
      border-radius: 5px;
      background: transparent;
      outline: none;
      padding-left: 16px;
      color: $white;
    }

    .icons {
      display: flex;
      gap: 10px;
      margin-top: 8px;

      img {
        border: 1px solid #747474;
        border-radius: 5px;
        cursor: pointer;
        width: 10%;
      }
    }
  }
}

.aboutTrainer {
  flex-direction: column;
  margin-top: 15px;

  textArea {
    border-radius: 5px;
    border: 1px solid $secondaryWhite;
    margin-top: 10px;
  }
}
