@import '../../styles/base.scss';

.learnerUserProfile {
  height: auto;
  width: 100%;
  // overflow: auto;
  contain: paint;
  background-color: #1e1e1e;
}
.userHead {
  width: 100%;
  margin-top: 70px;
  height: 300px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.userHead::before {
  content: '';
  background-image: url('/images/banner-image-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

.userBody {
  background-color: $bgTile;
}
.userImageContainer {
  display: flex;
  position: relative;
}

.editIcon img {
  position: absolute;
  right: 2%;
  top: 13%;
  width: 20px;
}
.userImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $darkThree;
  overflow: hidden;
  img {
    object-fit: contain;
    height: 100%;
  }
}

.editFillIcon img {
  position: absolute;
  right: 20px;
  bottom: 0;
  background-color: $primary;
  padding: 3px;
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
}

.userName {
  color: $white;
  font-size: 2vw;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px 0px;
}
.userRole {
  color: $white;
  font-size: 1vw;
  text-transform: capitalize;
  padding: 5px 0px;
}
// .text,
// .category {
//   color: $white;
//   // font-size: 1.2vw;
//   text-transform: capitalize;
//   font-weight: 600;
// }
.userInfoWraper {
  background-color: #262626;
  border-radius: 16px;
  padding: 20px;
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.contactInputContainer {
  display: flex;
  justify-content: stretch;
  color: $white;
  width: 400px;
  height: 40px;
  div {
    // border-color: $primary !important;
    border-width: 2px !important;
  }
  input {
    height: 100% !important;
  }
}

.userInfoButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin-top: 10px;
}
.textEditIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text,
.category {
  color: var(--white);
  font-weight: 600;
  font-size: 22px;
}
.inputField {
  width: 400px;
}
.updateBtn {
  border-radius: 5px;
  background-color: $primary;
  margin-right: 10px;
  color: $black;
}
.Icon img {
  width: 1.5vw;
  &:hover {
    cursor: pointer;
  }
}
.singleWraper {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 15px 0px;
}
.singleImage img {
  width: 2.6vw;
}
.textWraper {
  padding-left: 20px;
}
.smallText {
  font-size: 1vw;
  color: $bgBody;
  // padding-bottom: 2px;
}
.largeText {
  font-size: 1.2vw;
  color: $white;
}
.userAboutTab {
  padding: 50px;
  background-color: $bgTile;
}
.categoryPreferences {
  background-color: #262626;
  border-radius: 16px;
  padding: 20px;
  margin: 20px 0px;
  // display: flex;
  // gap: 10px;
  .category {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
  }
}
.textSubCategory {
  background-color: $black;
  border-radius: 8px;
  // padding: 5px 20px;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 16px;
}

.userTabContainer {
  // height:75vh;
  padding: 50px;
  color: $white;
  overflow-y: scroll;
  .filterRow {
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    .datePickerContainer {
      //just for the sake of tab header in user profile
      z-index: 801;
    }
    .dropDownContainer {
      display: flex;
      justify-content: flex-end;
      width: 20%;
    }

    .filterRowLeft {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;

      .resetFilter {
        color: $darkThree;
        cursor: pointer;
      }
      .isActive {
        color: $white;
      }
    }
    img {
      margin-left: 10px;
    }
  }

  hr {
    margin-bottom: 20px;
  }
  .scheduleBox {
    padding: 10px 0;
    .scheduleBoxTitle {
      padding: 10px;
      font-weight: bold;
    }
  }
}

.cardContainer {
  margin: auto;
  padding-bottom: 20px;
  .courseTabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imageContainer {
      display: flex;
      align-items: center;

      .seeAllBtn {
        border: none;
        outline: none;
        background-color: transparent;
        color: $primary;

        img {
          transform: rotate(180deg);
          height: 10px;
          margin: auto 5px;
        }
      }
      .seeLessBtn {
        color: $white;
        border: none;
        outline: none;
        background-color: transparent;
        img {
          height: 10px;
          margin: auto 5px;
        }
      }
    }
  }

  // hr {
  //   margin: 5px auto 20px;
  // }

  .boxCardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    flex-wrap: wrap;
  }
}

.listCardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adminCardFooter {
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  button {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
  }
  button:hover {
    color: $black;
    background-color: $primary;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  P {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      max-width: 15px;
    }
  }
}

$popUpHeight: 75vh;
.cohortTabContainer {
  display: flex;
  flex-direction: column;

  position: relative;

  height: $popUpHeight;
  width: 70vw;
  background-color: $darkTwo;
  color: $white;

  border-radius: 10px;

  .close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -10px;
    right: -10px;

    background-color: $secondary;
    border-radius: 50%;

    cursor: pointer;

    img {
      height: 30px;
    }
  }

  .tabHeader {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    overflow: hidden;

    li {
      flex: 1;
      text-align: center;
      background-color: $darkOne;
      color: $darkThree;
      cursor: pointer;

      padding: 5px 0px;
    }

    .active {
      background-color: $darkTwo;
      color: $white;
    }
  }

  .tabSection {
    flex: 1;
    padding: 15px;
    overflow: hidden;
  }
}
.cardSliderBody {
  width: 100%;
  height: auto;
  background-color: black;
}

.container {
  height: 100%;
  // max-height: 60vh;
  // padding: 10px;
  overflow-y: auto;

  .preferences {
    height: 65vh;
  }
}

.prefContainer {
  background-image: none !important;
  color: $white !important;
  svg path {
    fill: $white !important;
  }
  input {
    color: $white !important;
  }
  span {
    color: $primary !important;
  }
}

.prefNav {
  background-image: none !important;
  div {
    justify-content: right !important;
  }
  button {
    color: $black !important;
    background-color: $primary !important;
  }
  button:disabled {
    background-color: $darkOne !important;
  }
}

.prefCat {
  button {
    color: $primary !important;
  }
  span {
    svg {
      fill: $primary !important;
    }
  }
}

.prefGrid {
  div {
    color: $white !important;
  }

  svg {
    fill: $darkOne !important;
  }
}

.inviteComponents {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 70%;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding-top: 15px;
}
.head {
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: 600;
  .checkBoxContainer {
    flex: 0.25;
  }

  .firstName,
  .lastName,
  .email {
    flex: 1;
  }
}
.courseTabContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  // overflow-y: scroll;
  // padding-right: 15px;
  // padding: 20px;
  overflow: hidden;
}
.listCardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardList {
  // margin-bottom: 15px !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.memberTab {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.listCardTabContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;

  height: 100%;
  padding: 15px;
}
// //////Cohort-Details Tab //////////////////
.detailsTopsection,
.detailsBottomsection {
  // display: grid;
  // grid-template-columns: 25% auto;
  // gap: 15px;
  // height: 50%;
}
// .detailsTopsection {
// margin-bottom: 15px;
// }
.topLeft,
.topRight,
.bottomLeft,
.bottomRight {
  // display: flex;
  // flex-direction: column;

  background-color: $black;
  border-radius: 5px;
  padding: 10px;
  // margin: 10px;
}
.topLeft {
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
.list {
  margin-top: 15px;
}
.topRight {
  display: grid;
  grid-template-columns: 65% auto;

  .bigText {
    font-size: 1.7vw;
    font-weight: 600;
    text-transform: capitalize;
    p span {
      margin-right: 5px;
    }
  }
  .rank {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    .rankInside {
      border-radius: 5px;
      border: 2px solid $primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      // padding: 5px;
      // p {
      //   font-size: 14px;
      // }

      .rankNumber {
        // font-size: 30px;
        font-weight: 600;
        color: $primary;
      }
    }
  }
}

.cohortManager,
.cohortManager_date {
  border: 2px solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 5px 15px;
  border-radius: 5px;
  margin: 0px 0px 5px 5px;
  img {
    margin-right: 10px;
  }
  span {
    margin-left: 10px;
  }
}
.cohortManager {
  padding: 5px 15px;
}

// Invite Tab
.addUserBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftSide {
    width: 200px;

    span {
      color: $primary;
    }
  }

  .buttonContainer {
    // width: 135px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    // align-items: center;
  }
}

//button styling need to be change later

.cohortButton1 {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: $primary;
  color: $black;
  font-weight: bold;
  border-radius: 3px;
}

.cohortButton2 {
  padding: 10px;
  cursor: pointer;
  border: $primary;
  background-color: $primary;
  color: $black;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}

.cohortButton3 {
  padding: 8px;
  background-color: transparent;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  border: $primary 2px solid;
  display: inline-block;
  border-radius: 3px;
}

.fallbackMsg {
  margin: 50px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  color: $white;
}

.memberList {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}
.LeaderboardTabContainer {
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
  padding: 20px;
  overflow: hidden;

  .searchbar {
    padding: '0px 5px 15px';
  }
  .leaderboardHeader {
    border-bottom: 1px solid $darkThree;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    .name {
      text-align: start;
      flex: 2;
    }
    .brank {
      flex: 1;
    }
    .crank {
      display: flex;
      justify-content: flex-end;
      flex: 1;
    }
  }
  .leaderboardScrollable {
    height: calc(100% - 70px);
    overflow-y: auto;
    padding: 10px;
  }
  .leaderboardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: $black;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $primary;
      cursor: pointer;
    }
    .profile {
      display: flex;
      flex: 2;
      gap: 10px;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
      }
    }
    .brankText {
      flex: 1;
    }
    .crankBlock {
      display: flex;
      flex: 1;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;
      .crankImg {
        height: 25px;
        width: 25px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .crankArrow {
        height: 25px;
        width: 25px;
      }
    }
  }
}

.detailsTab {
  display: grid;
  height: 100%;
  grid-template-columns: calc(25% - 5px) calc(75% - 5px);
  grid-template-rows: calc(55% - 5px) calc(45% - 5px);
  gap: 10px;
  // overflow: hidden;

  // background-color: rgba($color: red, $alpha: 0.2);

  .cohortCodeContainer {
    display: flex;
    gap: 20px;
  }

  .lastContainer {
    // background-color: rgba($color: green, $alpha: 0.2);
    display: flex;
    flex-direction: column;

    .listContainer {
      // height: 80%;
      overflow: auto;
    }
  }
}
@media screen and (min-width: 1200px) {
  .cohortManager_date {
    font-size: 14px;
  }
  .cohortManager {
    font-size: 14px;
  }

  .rankText {
    font-size: 14px;
  }
  .rankNumber {
    font-size: 20px;
  }
}
@media screen and (min-width: 1330px) {
  .rankText {
    font-size: 15px;
  }
  .rankNumber {
    font-size: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .cohortManager_date {
    font-size: 16px;
  }

  .cohortManager {
    font-size: 16px;
  }
  .rankText {
    font-size: 16px;
  }
  .rankInside {
    padding: 5px 5px 0px 5px;
    .rankNumber {
      font-size: 45px;
    }
  }
}
@media screen and (min-width: 1920px) {
  .cohortManager_date {
    font-size: 18px;
  }

  .cohortManager {
    font-size: 18px;
  }
  .rankText {
    font-size: 18px;
  }

  .rankNumber {
    font-size: 50px;
  }
}
