@import '../../../styles/base.scss';

// .container {
//   margin-top: 10px;
//   max-height: 60vh;
//   overflow: auto;
// }

.paperContainer {
  max-height: 60vh;
  overflow: auto;
}

.questionTop {
  color: $white;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  p {
    font-weight: 600;
    color: $darkThree;
    span {
      color: $white;
    }
  }
}
