@import '../../../styles/base.scss';

.zicopsCard{
    width: 19%;
    height: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: $darkTwo;
    border-radius: 2vh;
    position: relative;
    cursor: pointer;
    .cardOverlay{
        width: 100%;
        height: 100%;
        border-radius: 1vh;
        position: absolute;
        background: #00000080;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
        .banner{
            float: right;
            background-color: #000000;
            color: $white;
            font-size: 1.5vh;
            padding: 3px 7px;
            border-radius: 0 1vh 0 0;
        }
        .coursename {
            margin-top: 6vh;
            color: $white;
            font-size: 2.5vh;
            font-weight: 600;
            padding: 0px 7px;
            border-radius: 0 4px 0 0;
            text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
        .courseowner {
            color: $white;
            font-size: 1.8vh;
            padding: 0px 7px;
            border-radius: 0 4px 0 0;
            text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}


// .coursenamesmall {
//     margin-top: 50px;
//     color: #ffffff;
//     font-family: 'Open Sans';
//     font-size: 16px;
//     font-weight: 600;
//     padding: 0px 7px;
//     border-radius: 0 4px 0 0;
//     text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.5);
// }
