* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --animate-delay: 0.3s;
}

.animate {
  opacity: 0;
}

.show {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

nav {
  /* background-color: #0d0f11; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #1a1b26;
  padding: 0 6%;
  /* height: 100px; */
  margin-bottom: -100px;
  letter-spacing: 1px;

  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;

  transition: all 0.3s;
}

.logo {
  display: flex;
  align-items: baseline;
  padding: 30px 0;
  transition: all 0.3s;
}

.logo img {
  height: 100%;
  width: 150px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

nav ul a {
  text-decoration: none;
  color: #ffffff;
}

nav ul li {
  opacity: 0.8;
  padding: 2px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

nav ul .active {
  opacity: 1;
  font-weight: 700;
  border-bottom: 1px solid #ffffff;
}

nav ul li:hover {
  opacity: 1;
  /* border-bottom: 1px solid white; */
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.signUp {
  color: #6bcfcf;
  cursor: pointer;
  opacity: 1;
}

.signUp:hover {
  opacity: 1;
}

.login {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #6bcfcf;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 1;
  color: #6bcfcf;
}

.login:hover {
  opacity: 1;
  color: #131518;
  background-color: #6bcfcf;
}

.login .user-icon {
  content: url(/static/img/person.svg);
}

.login:hover .user-icon {
  content: url(/static/img/person-dark.svg);
}

section {
  width: 100%;
  min-height: 100vh;
  background-color: #1a1b26;
  background-image: url('/static/img/bg-1.png');
  background-size: contain;
  background-repeat: repeat-x;
}

.section-1,
.section-2 {
  display: flex;
  align-items: center;
}

.left,
.right {
  width: 50%;
  overflow: hidden;
}

.main-image {
  width: 100%;
}

.left {
  padding-left: 6%;
  padding-right: 6%;
}

.right {
  height: 100%;
  display: flex;
  padding: 2%;
}

.left .heading,
.left .heading1,
.left .heading2,
.left .heading3 {
  font-size: 45px;
  line-height: 52px;
  color: #ffffff;
  display: inline-block;
  line-height: 1.3em;
  transform-origin: 0 0;
}

.left .heading2 span {
  color: #6bcfcf;
  font-size: 50px;
  font-weight: 900;
}

.left b {
  color: #6bcfcf;
}

.left .subheading {
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  padding-bottom: 2em;
}

.mouse-cursor-gradient-tracking-btn {
  width: 300px;
  height: 60px;
  border-radius: 4px;

  font-size: 18px;
  font-weight: 600;
  position: relative;

  /* background: linear-gradient(43.49deg, #693BBB -30.37%, #6BCFCF 82.44%); */

  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking-btn span {
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.mouse-cursor-gradient-tracking-btn span p {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
}

.mouse-cursor-gradient-tracking-btn span p small {
  font-size: 16px;
  font-weight: normal;
}

.mouse-cursor-gradient-tracking-btn span::after {
  content: url(../../images/bigarrowrightblack.png);
}

.mouse-cursor-gradient-tracking-btn::before {
  --size: 500px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background-image: radial-gradient(ellipse farthest-side, #6a3bbbe0, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.course-types {
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 300px;
}

.course-types .self {
  width: 25%;
  text-align: center;
  color: #ffffff;
}

.partner-types {
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 300px;
  padding: 0;
}

.partner-types .partner {
  width: 50%;
  text-align: center;
  color: #ffffff;
}

.partner-types .partner img {
  width: 100%;
  cursor: pointer;
}

.course-types .border {
  content: '';
  width: 1px;
  height: 200px;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, #000000 0%, #41ffff 50%, #000000 100%);
  background: -webkit-linear-gradient(0deg, #000000 0%, #41ffff 50%, #000000 100%);
  background: linear-gradient(0deg, #000000 0%, #41ffff 50%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

#snap-body {
  height: 100vh;
  overflow: hidden;
}

.snap-parent {
  overflow: scroll;
  height: 100%;
  /* scroll-snap-points-y: repeat(100vh);*/
  scroll-snap-type: y mandatory;
}

.snap-parent::-webkit-scrollbar {
  display: none;
}

.snap-section1,
.snap-section2,
.snap-section3,
.snap-section4 {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 50px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131518;
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;
}

.snap-section1 {
  background-image: url('/static/img/Frame 165.svg');
}

.snap-section2 {
  background-image: url('/static/img/Frame 165 (1).svg');
}

.snap-section3 {
  background-image: url('/static/img/Frame 165 (2).svg');
}

.snap-section4 .content {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  /* text-transform: none; */
}

.snap-section4 .content b {
  color: #6bcfcf;
}

.snap-section4 .content p {
  text-align: center;
  text-transform: none;
  font-size: 20px;
  font-weight: normal;
  color: #868686;
}

/* Collaborate / Partner Page */
.first {
  width: 100%;
  min-height: 100vh;
  background-color: #131518;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.first > p {
  color: white;
  font-size: 36px;
  text-align: center;
}

.first h3 {
  color: #6bcfcf;
  font-size: 40px;
  text-align: center;

  margin-bottom: 50px;
}

.first-bg {
  opacity: 0.1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.first-bg img {
  opacity: 0.5;
  position: absolute;
  right: -5%;
  bottom: 0;
  width: 50%;
  height: auto;
}

.top-logo {
  text-align: center;
  margin-bottom: 50px;
}

.top-logo img {
  width: 50%;
}

.slider-section {
  display: flex;
  /* background-color: #1a1b26; */
  background-color: #1a1b26;
  padding-top: 100px;
}

.slider-left {
  flex: 3;

  /* position: relative;	 */
  height: 80vh;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#carousel {
  position: absolute;
  top: 40%;
}

#carousel .slide-item img {
  height: 340px;
  width: 252px;
  position: absolute;
  top: 0;
  border-radius: 10px;
}

.cta-under-slider {
  color: white;
  text-align: center;
}

.cta-under-slider p {
  color: #868686;
}

.mediumText {
  font-size: 28px;
  text-align: center;
  line-height: 45px;
  /* color: #41a9ef; */
}

.logo-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 50px;
}

.logo-right img {
  width: 75%;
}

.logo-right p {
  font-size: 30px;
  text-align: center;
}

.section-with-text {
  width: 100%;
  min-height: 90vh;
  background-color: #131518;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.wider {
  background-color: #1a1b26;
  color: #919397;
  padding: 20px;
}
.footer {
  background-color: #1a1b26;
  color: #919397;
  padding: 20px;
}
.monetizing {
  background-color: #1a1b26;
  color: #919397;
  padding: 20px;
}
.text-gradient{
  background: -webkit-linear-gradient(111.44deg, #6BCFCF 19.16%, #41A9EF 154.55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wider-text-reach {
  /* color: #41a9ef; */
  font-size: 26px;
}
.footer-text-reach {
  /* color: #41a9ef; */
  font-size: 26px;
}
.desktop-icon {
  display: none;
}
.wider-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 28px 16px 32px;
  margin-top: 20px;
  background: linear-gradient(111.44deg, #6BCFCF 19.16%, #41A9EF 154.55%);
  box-shadow: 0px 16px 24px rgba(16, 16, 18, 0.24);
  border: none;
}
.wider-left{
    background-image: url('../img/Ellipse 23.png');
    background-position-x: left;
    background-size: 800px 100px;
    background-repeat: repeat;
}
.wider-btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .slider-left {
    height: 100vh;
  }
  .smallText {
    font-size: 24px;
  }
  #carousel .slide-item img {
    height: 360px;
    width: 252px;
  }
  .mediumText {
    line-height: 40px;
    font-size: 34px;
    font-weight: bolder;
  }
  .wider {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
  }
  .monetizing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
  }
  /* .wider-text{
            font-size: 22px;
        } */
  .wider-right {
    width: 600px;
  }
  .wider-text-reach {
    font-size: 40px;
    font-weight: 900;
  }
  .desktop-icon {
    display: block;
  }
  .mobile-icon {
    display: none;
  }
  .wider-btn {
    width: 260px;
    padding: 16px 40px 16px 40px;
  }
  .wider-btn-content{
    justify-content: start;
  }
  .footer {
    background-color: #121318;
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
  }
  .footer-text-reach {
    font-size: 40px;
    font-weight: 900;
  }
  .footer-text {
    text-align: center;
    width: 500px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .slider-left {
    height: 100vh;
  }
  #carousel .slide-item img {
    height: 370px;
    width: 252px;
  }
  .mediumText {
    width: 665px;
    line-height: 60px;
    font-size: 40px;
  }
}
.left-block,
.right-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  line-height: 45px;
}

.text b {
  font-size: 40px;
  line-height: 45px;
  color: #6bcfcf;
}

.popup {
  width: 800px;
  height: 500px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  background-color: #6a3bbb;
  box-shadow: 0 0 10px 0px #00000080;
  display: none;

  border-radius: 20px;
}

.close-popup {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #41ffff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

[data-id='branding'] {
  display: none !important;
}

/* Mobile Responsive */
@media screen and (max-width: 500px) {
  nav ul,
  .buttons {
    display: none;
  }

  section {
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: repeat;
  }

  .section-1 {
    padding-top: 150px;
  }

  .section-2 {
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }

  .left,
  .right {
    width: 100%;
    overflow: hidden;
  }

  .section-1 .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -25%;
  }

  .right img {
    width: 100%;
  }

  .main-image {
    width: 500px !important;
  }

  .left .heading,
  .left .heading1,
  .left .heading2,
  .left .heading3 {
    font-size: 22px;
  }

  .left .heading2 span {
    font-size: 22px;
  }

  .left .subheading {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 2em;
  }

  .course-types {
    flex-direction: column;
    padding: 100px 0;
    height: auto;
  }

  .course-types .self {
    width: 100%;
  }

  .course-types .border {
    transform: rotate(90deg);
  }
}
