@import '../../../styles/base.scss';

.switchContainer {
  display: flex;
  align-items: center;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.text {
  color: $white;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: auto;
  // margin-bottom: 15px;
  margin-left: 8px;
  z-index: 100;
}
