@import '../../../styles/base.scss';

.labeledDropdownWrapper {

  display: flex;
  flex-direction: column;
  flex: 1;
    // font-family: 'Open Sans';
  
    label {
        color: $white;
        margin-bottom: 5px;
        font-size: 15px;
    }
   
  }