@import '../../../../styles/base.scss';

.line {
  content: '';
  height: 3px;
  margin-top: 12px;
  background-color: $white;
  width: 100%;
  margin-bottom: 20px;
}

.sectionSection {
  margin-top: 20px;
  border-radius: 10px;
  background-color: $darkOne;
  color: $darkThree;
  padding: 5px;
}
