@import '../../../styles/base.scss';

.simpleTable {
  position: relative;
  // background-color: $black;
  color: $primary;
  padding: 50px 20px;

  .searchBar {
    position: absolute;
    right: 120px;
    background-color: transparent;
    border: 2px solid $darkThree;
    color: $darkThree;
    padding: 5px 10px;
    &:focus{
      border: 2px solid transparent;
      outline: 2px solid $primary;
    }
  }

  .tableHeader {
    // text-shadow: 0px 0px 20px $primary, 0px 0px 15px $primary, 0px 0px 10px $primary,
    //   0px 0px 5px $primary;

    font-size: 35px;
    font-weight: 600;
    font-family: 'Poppins';
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 20px;
    margin-right: 50px;
  }

  .tableContainer {
    .tableHead {
      padding: 10px 50px;
      margin: 0px 10px;

      .row {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
      }
    }

    .tableBody {
      // background-color: $bgContent;
      height: 400px;
    }
  }

  :global(.MuiDataGrid-virtualScrollerContent) {
    overflow-x: hidden;
  }
  :global(.MuiDataGrid-virtualScrollerRenderZone) {
    width: 100%;
  }
}

.tableRow {
  color: $white;

  font-size: 14px;
  text-transform: capitalize;
  border: 1px solid $darkThree;
  margin: 5px auto;
  max-width: 99%;

  &:hover {
    color: $primary;
    border: 2px solid $primary;
    background-color: $darkTwo;
    box-shadow: 0px 0px 20px 2px $primary;
    font-weight: 600;
    transform: scale(1.01);
  }
}

.previousBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 1px solid $primary;
  background-color: $bgContent;
  padding: 5px;
  z-index: 10;

  &:disabled {
    cursor: no-drop;

    img {
      opacity: 0.3;
    }
  }
}
.previousBtn {
  left: -40px;
}

.nextBtn {
  right: -40px;
}
