@import '../../../styles/base.scss';

.CongratulationsScreenButton {
  flex: 1;

  button {
    background-color: transparent;
    width: 100%;
    flex: 1;
    color: $primary;
    padding: 7px 10px;
    border: 2px solid $primary;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: $primary;
      color: $black;
      transition: 0.5s;
    }

    &.disabled,
    &:disabled {
      cursor: no-drop;
      border-color: $darkThree;
      color: $darkThree;

      &:hover {
        background-color: transparent;
        color: $darkThree;
      }
    }
  }
}
