@import '../../styles/base.scss';

.success {
  background-color: #5cb85c;
}

.danger {
  background-color: #d9534f;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}
