@import '../../styles/base.scss';
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:wght@400;500;600;700&display=swap');

.videoContainer {
  position: relative;
  // padding-bottom: 56.25%;
  margin-top: 70px;
  overflow: hidden;
  padding-bottom: 39.25%;
  max-height: 70vh;
  background: #000000;

  .playPauseIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    z-index: 10;
    transform: translate(-50%, -50%);
  }

  .customUiContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    width: 100%;
    padding: 40px 30px;
    transition: all 0.3s ease-in-out;
    // border: 1px solid white;
    // background-color: #888822;
    // background: rgb(0,0,0);
    background: -moz-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    .topIconsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .firstIcon {
        cursor: pointer;
        width: 8%;
      }
      .lastIcon {
        width: 11%;
      }
      .leftIcons,
      .rightIcons {
        width: 20%;
        display: flex;
        justify-content: space-between;
      }

      .centerText {
        width: 50%;
        .centerTextHeading {
          font-size: 20px;
          font-weight: 800;
          color: $primary;
          text-align: center;
        }
        .centerTextSubheading {
          font-size: 14px;
          font-weight: 400;
          color: $white;
          text-align: center;
        }
      }
      // button{
      //     border-radius: 10px;
      //     margin: 5px 10px;
      // }

      // .bookmarkBtn{
      //     position: absolute;
      //     right: 50px;
      //     top: 20px;
      // }
    }

    .drawer {
      top: 0;
      width: 30%;
      height: 100%;
      right: 0;
      color: gray;
      position: absolute;
      z-index: 20;
      background: rgba(139, 139, 139, 0.471);
    }
  }
  .languageList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    position: absolute;
    top: 50px;
    left: 0%;

    // transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid $white;

    color: $white;
    width: 250px;
    height: 160px;
    padding: 3px 0px;

    overflow: hidden;
    // box-shadow: 0 0 50px 0 $white;
    // @include transparentBackground($bgContent);
    background-color: rgba($bgContent, 0.6);

    .scrollArrow {
      flex: 1;
      flex-basis: 100%;
      text-align: center;

      img {
        height: 15px;
        transform: rotate(-90deg);
      }
    }

    div {
      flex: 1;
      opacity: 1;
      padding: 0px 5px;

      &:first-child {
        padding-right: 5px;
        border-right: 1px solid $primary;
      }

      h4 {
        text-align: center;
      }

      section {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;

        &::-webkit-scrollbar {
          width: 0px;
        }

        button,
        a {
          background-color: transparent;
          margin: 3px auto;
          padding: 5px 10px;
          width: 100%;
          font-size: 13px;
          border: 1px solid $primary;
          color: $primary;
          cursor: pointer;

          &:hover {
            background-color: $primary;
            color: $bgContent;
          }
        }

        a {
          display: inline-block;
          text-align: center;
        }

        .languageBtnActive {
          background-color: $white;
          color: $bgContent;
        }
      }
    }
  }

  .folderBar {
    display: flex;
    padding: 10px;
    height: max-content;
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: rgba($bgContent, 0.6);
    // @include transparentBackground($bgContent);

    .showCount {
      @include showRedCountAtCorner(15px, 10px);
    }

    section {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      margin: auto 20px;
      height: 15px;

      cursor: pointer;

      div {
        margin: auto;
        background-color: $primary;
        height: 2px;
        width: 15px;
      }

      img {
        height: 100%;
      }
    }
  }

  .bookmarkContainer {
    position: relative;
    max-width: 420px;
    padding: 10px;

    .bookmarksInput {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      position: relative;
      // position: absolute;
      // top: 0%;
      // right: 50%;

      // margin: auto 10px;
      padding: 10px;
      background-color: $black;
      border-radius: 10px;

      // opacity: 0.75;
      width: 400px;
      height: max-content;
      box-shadow: 0 0 10px 0 $darkTwo;

      section {
        width: 100%;
        display: flex;

        span {
          color: $white;
          margin: auto 5px;

          height: 100%;
        }
      }

      .crossBtn {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -40%);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 20px;
        width: 20px;

        background-color: $darkThree;
        border-radius: 50%;
        color: $white;
        cursor: pointer;
      }

      .bookmarksField {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        background-color: #dfdfdf;
        border-color: $bgHeader;
        opacity: 1;

        &:focus {
          // border-radius: 0;
          outline: 0;
          opacity: 1;
        }
      }

      .bookmarksBtn {
        border-radius: 0;
        background-color: $primary;
        color: $darkTwo;

        padding: 8px 25px;
        border: 0;
        border-radius: 2px;
        // width: 60%;
        // font-weight: 550;
        cursor: pointer;
        opacity: 1;

        &:hover {
          box-shadow: 0 0 10px 0 $primary;
          // background-color: $bgHeader;
          // color: $white;
        }
      }
    }
  }

  .folderBarContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    position: absolute;
    top: 50px;
    left: 50%;

    transform: translateX(-50%);
  }

  .notesCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // position: relative;
    width: 500px;
    height: 40vh;
    overflow: hidden auto;
    z-index: 2;
    flex-basis: 100%;
    padding: 10px;

    &.notesCardsContainerFS {
      height: 550px;
    }
  }

  .quizDropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 10px;
    background-color: $bgContent;

    button {
      background-color: transparent;
      margin: 3px;
      padding: 10px;
      width: 170px;
      border: 2px solid $primary;
      color: $primary;
      cursor: pointer;

      &:hover {
        background-color: $primary;
        color: $black;
      }

      // &.wrongQuiz,
      // &.correctQuiz {
      span {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 0px;
        //   left: -20px;

        //   height: 15px;
        //   width: 15px;
        //   background: url(/images/svg/cross.svg);
        //   background-repeat: no-repeat;
        //   background-size: contain;
        // }
      }
      // }

      // &.correctQuiz span::before {
      //   background-image: url(/images/svg/done.svg);
      // }
    }
  }

  .videoElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::cue {
      color: $white;
      background-color: #00000080;
      font: 36px 'Open Sans';
    }
  }

  .quizContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkOne;
    z-index: 15;
    // opacity: .4;
    // padding: 50px 30px;

    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: center;

    .backBtn {
      position: absolute;
      top: 50px;
      left: 30px;
      z-index: 2;
      cursor: pointer;
      opacity: 1;
    }

    .hideBtn {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .footerBtns {
      width: 90%;
      text-align: end;
      margin: 50px auto;
      button {
        padding: 10px 20px;
        background-color: transparent;
        color: $white;
        border-radius: 50px;
        min-width: 155px;
        margin: 5px;
        font-family: 'Open Sans';
        font-size: 13px;
        font-weight: 800;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 10px 0 $secondaryBlack;
          color: $white;
          background-color: $black;
        }
      }
    }
  }
}

.noteCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  height: 150px;

  background-color: $primary;
  padding: 8px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 2px #00000080;
  overflow: hidden;

  // corner curled
  // border-bottom-right-radius: 30px 15px;

  // corner pressed
  clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 0);

  img {
    width: 15px;
  }
  &:after {
    content: '';
    position: absolute;

    // corner curled
    // bottom: -80px;
    // right: 18px;
    // width: 50px;
    // height: 100px;
    // transform: rotate(65deg);
    // box-shadow: 0px 0px 15px 5px #00000080;

    // corner pressed
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    margin: -20px;
    box-shadow: 0px 0px 5px 2px #00000050;
  }

  .notesHeader {
    display: flex;
    justify-content: space-between;
    color: $black;
    font-weight: 800;
    font-size: 14px;
    cursor: grab;
    img {
      cursor: pointer;
      // margin: auto 2px;
    }
    .activeNote {
      text-decoration: underline;
    }

    .pinned {
      transform: rotate(-45deg);
    }
    .delete {
      width: 18px;
      height: 20px;
    }
    .clear,
    .delete,
    .pin {
      cursor: pointer;
    }
    .clear path,
    .pin path,
    .delete path {
      fill: $darkOne;
      &.pinned {
        transform: rotate(-45deg);
      }
    }
  }

  textarea {
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 5;
    font-family: 'Grape Nuts';
    font-size: 20px;
    font-weight: 600;
    cursor: text;
    outline: none;
    border: none;
    &:focus {
      outline: none;
    }
    /* Scrollbar */
    /* width */
    &::-webkit-scrollbar {
      width: 2px;
      background: #555;
      cursor: pointer;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $darkThree;
      border-radius: 7px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $darkTwo;
      border-radius: 7px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $darkOne;
    }
  }
}

.subtitles {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  background-color: #00000080;
  transition: all 0.3s;
  // transition-delay: 0.2s;
  font-size: 24px;
  &.increaseDistanceFromBottom {
    bottom: 120px;
  }
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 0px;

  width: 100%;
  height: 100px;
  // padding: 10px 0;

  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, #000000 0%, #00000000 100%, #00000000 100%);
  background: -webkit-linear-gradient(0deg, #000000 0%, #00000000 100%, #00000000 100%);
  background: linear-gradient(0deg, #000000 0%, #00000000 100%, #00000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.fadeHide {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.fadeHideTop {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.videoBookmark {
  height: 30px;
  width: 30px;
  background: url('/images/svg/bookmark-line.svg') no-repeat center;
  background-size: cover;
  opacity: 1;
  &:hover {
    height: 30px;
    width: 30px;
    background: url('/images/svg/bookmark-fill.svg') no-repeat center;
    background-size: cover;
    opacity: 1;
  }
}
.videoQuiz {
  height: 30px;
  width: 30px;
  background: url('/images/svg/quiz.svg') no-repeat center;
  background-size: cover;
  opacity: 1;
  &:hover {
    height: 30px;
    width: 30px;
    background: url('/images/svg/quiz.svg') no-repeat center;
    background-size: cover;
    opacity: 1;
  }
}

.centerFlashIcon {
  background-color: #00000050;
  padding: 20px;
  border-radius: 50%;
  animation: myflash 1s;
}
@keyframes myflash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  // 100% {
  //   opacity: 0;
  // }
}
.centerFlashIconImg {
  opacity: 0.8;
}
.fallbackForVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  font-size: larger;
}

.bingeClasses {
  position: absolute;
  bottom: 140px;
  right: 2%;
  > div {
    margin-bottom: 15px;
  }
}
.watchCreditsBtn,
.nextPlayBtn,
.skipIntroBtn {
  border-radius: 0;
  padding: 10px;
  width: 200px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.watchCreditsBtn {
  border: 4px solid var(--dark_three);
  background-color: transparent;
  background-position: left top;
  background-size: 200% 100%;
  color: $darkThree;
}
.watchCreditsBtn:hover {
  border: 4px solid var(--primary);
}
.nextPlayBtn {
  border: 4px solid var(--primary);
  background: linear-gradient(to left, #00000000 50%, $primary 50%);
  background-position: left top;
  background-size: 200% 100%;
  // box-shadow: 0 0 10px 0 $primary;
  transition: all 5s ease-in;
  animation: fill 5s;
  color: $primary;
  div {
    mix-blend-mode: difference;
  }
}
.skipIntroBtn {
  border: 4px solid var(--primary);
  background: linear-gradient(to left, #00000000 50%, $primary 50%);
  background-position: left top;
  background-size: 200% 100%;
  box-shadow: 0 0 10px 0 $primary;
  top: 70%;
  // transition: all 5s ease-in;
  // animation: fill 5s;
  color: $primary;

  div {
    mix-blend-mode: difference;
  }
}
@keyframes fill {
  0% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

// .quizScreenContainer {
//   width: 100%;
//   height: 100%;
//     position: absolute;
//       right: 50%;
//       transform: translate(50%, 0);
//       top: 0;
//       border-radius: 0;
//       // padding: 10px;
//       // display: block;
//       // text-align: center;
//   border: 4px solid var(--primary);
//   // background: linear-gradient(to left, #00000000 50%, $primary 50%);
//   // background-position: left top;
//   // background-size: 200% 100%;
//   // box-shadow: 0 0 10px 0 $primary;
//   // top: 70%;
//   // transition: all 5s ease-in;
//   // animation: fill 5s;
//   color: $primary;
//   background-color: $primary;
//   z-index: 15;
//   .skipIntroBtnTxt {
//     mix-blend-mode: difference;
//   }
// }

// draggable div

.draggableDiv {
  // height: 150px;
  // width: 150px;
  padding: 5px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 15;
  cursor: move;
  border: 1px solid transparent;

  &:hover .noteCard {
    // border-color: $black;
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 2px 2px 10px 3px #00000080;
    z-index: 999;
  }
}

.toolbar {
  display: flex;
  background-color: $darkTwo;
  color: $white;

  .toolbarBox {
    display: flex;
  }
}

.mcqScreen {
  position: relative;

  display: flex;
  flex-direction: column;

  color: $white;

  // width: 100%;
  height: 100%;

  .attachment {
    height: 100%;
    max-height: 140px;
    text-align: center;

    img,
    video,
    audio {
      height: 100%;
      // width: 100%;
      object-fit: contain;
    }
  }

  .questionContainer {
    flex: 1;

    display: flex;
    flex-direction: column;

    background-color: $black;
    padding: 0px 30px;

    .count {
      color: $darkThree;
      font-size: 2rem;
      margin-bottom: 10px;
      min-height: 40px;
    }

    .question {
      display: flex;
      justify-content: space-between;

      flex: 1;

      margin-left: 70px;

      .attachment {
        // height: 140px;
        text-align: end;
      }
    }

    .hintBtn {
      color: $darkThree;
      margin-bottom: 10px;

      span {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .optionsContainer {
    flex: 2;

    background-color: $darkOne;
    padding: 30px;

    display: flex;

    .options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      flex: 1;

      section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
      }
    }

    .option {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 75%;
      width: 50%;
      background-color: $black;
      border: 2px solid $darkThree;
      overflow: hidden;

      cursor: pointer;

      &.active {
        border-color: $primary;
      }
    }
  }

  .footerBtn {
    position: absolute;
    bottom: 10px;
    right: 50px;
  }
}

.mcqBtns {
  border: 3px solid $white;
  background-color: $darkOne;
  color: $white;
  padding: 5px 10px;
  margin: auto 10px;

  border-radius: 5px;
  font-weight: bolder;
  font-size: 1.2rem;

  cursor: pointer;

  // &.skipBtn {
  // border-color: $darkThree;
  // color: $darkThree;
  // }

  &:disabled {
    border-color: $darkThree;
    color: $darkThree;
  }
  // button {
  // }
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  height: 100%;
}

.scromFullScreenBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba($darkOne, 0.5);
  border-radius: 5px;
  padding: 5px;

  .fsBtn {
    background: url('/images/svg/fullscreen-line.svg') no-repeat center;
    background-size: cover;
    height: 20px;
    width: 20px;
  }

  .fseBtn {
    background: url('/images/svg/fullscreen-exit-line.svg') no-repeat center;
    background-size: cover;
    padding: 10px;
    height: 20px;
  }
}
