@import '../../styles/base.scss';

.resource_loop {
  background-color: #323232;
  padding: 10px;
  border-radius: 5px;
  // margin: 10px;
  display: flex;
  // justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid rgb(81, 190, 188);
}

.image_box img {
  border: 2px solid $primary;
  width: 100px;
}

.data {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.data_title {
  color: $darkThree;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
}

.data_btn button {
  padding: 8px 25px;
  font-size: 13px;
  color: $primary;
  background-color: #323232;
  border: 1px solid $primary;
  text-transform: capitalize;
}

.data_btn button:hover {
  cursor: pointer;
}
