@import '../../../styles/base.scss';
.courses_acc_head, .assign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
   
}
.assign{
    color: $primary;
}
.assign img{
    width: 20px;
    margin-right: 10px;
    color: $primary;
    &:hover{
        cursor: pointer;
    }
}
.course_loop{
   
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        // justify-content: flex-start;
        gap: 20px;

}
.course_card{
    width :calc(100%/3 - 20px + 20px/3);
 
}
.imageContainer{
    display: flex;
    justify-content: end;
    & img{
        width: 25px;
     margin:0px 0px 10px 10px;
     &:hover{
        cursor: pointer;
     }
    }
}