@import '../../../styles/base.scss';

.customHeader {
  display: flex;
  justify-content: space-evenly;
}

.inputDatePickerContainer {
  display: inline-block;

  input {
    width: 100%;
  }

  input,
  select {
    padding: 10px;
    border: 2px solid $darkThree;
    background-color: $darkTwo;
    color: $secondaryBlack;
    font-size: 13px;
    font-family: 'Poppins';

    &:not(:placeholder-shown) {
      /* You need to add a placeholder to your fields. For example: <input "placeholder=" "/> */
      color: $white;
      border: 2px solid $primary;
    }
    &:focus {
      border: 2px solid $primary;
      box-shadow: 0px 0px 10px 0px $primary;
      outline: 0;
      color: $white;
    }
    &:disabled {
      border: 2px solid $darkThree;
    }
  }

  select {
    padding: 5px 10px;
  }
}

.inlineCalender {
  background-color: $darkOne;
  border: 1px solid $darkOne;

  :global(.react-datepicker),
  :global(.react-datepicker__triangle),
  :global(.react-datepicker__triangle::after),
  :global(.react-datepicker__triangle::before),
  :global(.react-datepicker__header) {
    background-color: $darkOne !important;
    border: 1px solid $darkOne !important;
  }

  :global(.react-datepicker__month) {
    overflow: hidden;
    margin: auto 10px 10px;
  }

  :global(.react-datepicker__day-name) {
    color: $white;
  }

  :global(.react-datepicker__day--outside-month),
  :global(.react-datepicker__day--disabled) {
    color: $darkThree !important;
    pointer-events: none;
    background: $black !important;
  }

  .calanderDates {
    position: relative;

    background: $darkTwo;
    color: $white;
    // border: 1px solid $darkThree;
    outline: 2px solid $darkTwo;
    z-index: 1;

    &:hover {
      position: relative;

      color: $primary !important;
      border-radius: 0px !important;

      box-shadow: 0 0 30px 10px $primary;
      z-index: 0;
    }
  }

  :global(.react-datepicker__day--selected),
  :global(.react-datepicker__day--keyboard-selected) {
    position: relative;

    background-color: $black !important;
    color: $primary !important;

    border-radius: 0px !important;
    outline: 2px solid $primary !important;
    font-weight: 700;
    z-index: 2;
  }
}
