@import '../../../../styles/base.scss';

// .container {
//   margin-top: 10px;
//   max-height: 60vh;
//   overflow: auto;
// }

.paperContainer {
  max-height: 70vh;
  overflow: auto;
  padding-right: 5px;
}

.paperContainer::-webkit-scrollbar {
  width: 5px;
  border-radius: 7px;
  cursor: pointer;
}
/* Track */
.paperContainer::-webkit-scrollbar-track {
  background: $darkTwo;
  border-radius: 7px;
}
/* Handle */
.paperContainer::-webkit-scrollbar-thumb {
  background: $darkThree;
  border-radius: 7px;
}

//QuestionSection

.line {
  content: '';
  height: 3px;
  margin-top: 12px;
  background-color: $white;
  width: 100%;
  margin-bottom: 20px;
}

.sectionContainer {
  margin-top: 20px;
  border-radius: 10px;
  background-color: $darkOne;
  color: $darkThree;
  padding: 5px;
}

.questionTop {
  color: $white;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  p {
    font-weight: 600;
    color: $darkThree;
    span {
      color: $white;
    }
  }
}

.QuestionContainer {
  margin: 10px;
  background-color: $black;
  border-radius: 5px;
}

.qstatusContainer {
  text-align: right;
  margin-right: 20px;
}

.questionInnerContainer {
  margin-top: 10px;
}

.questionContainerInnerContainer:hover {
  border: 2px solid $white;
}

//questionTop
.container {
  color: $darkThree;
}

.upperSection {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  margin-top: 30px;
  font-weight: bold;
  span {
    color: $white;
  }
  // p:nth-child(3) {
  //   margin-right: 80px;
  // }
  // p:nth-child(1) {
  //   margin-left: -30px;
  // }
  p:nth-child(2) {
    margin-left: -30px;
  }
}

.middleSection {
  text-align: center;
  margin: 30px 80px;
  font-weight: bold;
  p {
    p {
      margin-top: 20px;
      font-size: 15px;
      color: $white;
    }
  }
}

.lowerSection {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  font-weight: bold;
  span {
    color: $white;
  }
  // p:nth-child(3) {
  //   margin-right: 80px;
  // }
  // p:nth-child(1) {
  //   margin-left: -30px;
  // }
  p:nth-child(2) {
    margin-left: -40px;
  }
}

//Question Status

@mixin inputField($property, $value) {
  input[type='checkbox'] {
    appearance: none;
    content: ' ';
    #{$property}: $value;
    margin: 0;
    border-radius: 1px;
    height: 10px;
    width: 10px;
    margin-right: 10px;
  }
}

.attempted {
  // color: $primary;
  @include inputField(background-color, $primary);
}

.unattempted {
  color: $darkThree;
  @include inputField(background-color, $darkThree);
}

.marked {
  color: $white;
  @include inputField(background-color, $white);
}
