@import '../../../styles/base.scss';

.acs_dropdown {
  // margin-left: 10px;
  // margin-right: -8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  // font-weight: 600;
  color: $white;
}

.bt_Container {
  position: relative;
  float: right;
}
