@import '../../../styles/base.scss';

.container {
  height: 100%;
  width: 100%;
  max-height: 60vh;
  overflow: auto;

  .spinnerContainer {
    height: 100%;
    width: 100%;

    // https://codepen.io/mandelid/pen/kNBYLJ
    .spinner {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 3px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-top-color: #fff;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
    }
  }

  .hideDownload {
    :global(#pdf-download) {
      display: none;
      pointer-events: none;
    }
  }

  :global(#pdf-renderer) {
    background-color: $darkTwo;

    :global(#pdf-controls) {
      svg {
        path,
        polygon {
          fill: $white;
        }
      }
    }
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
