@import '../../../styles/base.scss';

.listCard {
  display: flex;
  gap: 20px;

  width: 100%;
  height: 140px;
  cursor: pointer;
  background-color: $black;
  color: $darkThree;
  padding: 20px;
  border-radius: 5px;

  .imgContainer {
    border-radius: 10px;
    max-width: 20%;
    height: 100%;

    img {
      height: 100%;
    }
  }
  .imgRoundContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      
    }
  }

  .cardBody {
    flex: 1;
        display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

    .title {
      color: $white;
      font-size: 20px;
      font-weight: bold;
    }
    .desc{
      padding-top: 20px;
    }
  }
}
