@import '../../../styles/base.scss';

.listCard {
  display: flex;
  gap: 20px;

  width: 100%;
  height: 140px;
  
  background-color: $black;
  color: $darkThree;
  padding: 20px;
  border-radius: 5px;

  .imgContainer {
    border-radius: 10px;
    max-width: 20%;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .cardBody {
    flex: 1;

    .title {
      color: $white;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
