@import '../../../styles/base.scss';

.listCard {
  display: flex;
  gap: 20px;

  width: 100%;
  height: 140px;
  // cursor: pointer;
  background-color: $black;
  color: $darkThree;
  padding: 20px;
  padding-left: 30px;
  border-radius: 5px;

  transition: all 0.3s;

  .imgContainer {
    border-radius: 10px;
    width: 10%;
    height: 100%;
    position: relative;

    img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    }
  }
  .scheduleBar::before{
    content: '';
    width: 5px;
    height: 100px;
    border-radius: 10px;
    background-color: $primary;

    position: absolute;
    left: -8%;
  }
  .imgRoundContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      
    }
  }

  .cardBody {
    flex: 1;
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    gap:5px;
    // height: 100%;
    .title {
      color: $white;
      font-size: 20px;
      font-weight: bold;
    }
    .scheduleCardBody{
      flex: 3;
      padding-right: 20px;
    }
    .scheduleCardBodyRight{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .schedulePills{
        color: $white;
        padding: 5px 10px;
        background-color: black;
      }
    }
  }

}

.listCard:hover{
  box-shadow: 0 0 10px 0 rgba($primary, 0.5);
  transform: scale(1.02);
  background-color: $bgTile;
}
