$ANIMATION_DURATION : 1000ms;

.animatedDownArrow{
    width: 20px;
    display: flex;
    flex-direction: column;
    img{
        margin-top: -2px;
        animation: blinker $ANIMATION_DURATION infinite;
    }
    .imageTop {
        animation-delay: 0;
    }
    .imageMiddle {
        animation-delay: $ANIMATION_DURATION * 1 / 3;
    }
    .imageBottom {
        animation-delay: $ANIMATION_DURATION * 2 / 3;
    }
}

@keyframes blinker {
    0%, 32% {
        opacity: 0.33;
    }
    33%, 65% {
        opacity: 0.66;
    }
    66%, 100% {
        opacity: 0.99;
    }
}