@import '../../../../../styles/base.scss';

.container {
  color: $darkThree;
}

.upperSection {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  margin-top: 30px;
  font-weight: bold;
  span {
    color: $white;
  }
  // p:nth-child(3) {
  //   margin-right: 80px;
  // }
  // p:nth-child(1) {
  //   margin-left: -30px;
  // }
  p:nth-child(2) {
    margin-left: -30px;
  }
}

.middleSection {
  text-align: center;
  margin: 30px 80px;
  font-weight: bold;
  p {
    p {
      margin-top: 20px;
      font-size: 15px;
      color: $white;
    }
  }
}

.lowerSection {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  font-weight: bold;
  span {
    color: $white;
  }
  // p:nth-child(3) {
  //   margin-right: 80px;
  // }
  // p:nth-child(1) {
  //   margin-left: -30px;
  // }
  p:nth-child(2) {
    margin-left: -40px;
  }
}
