@import '../../../styles/base.scss';

.searchBar {
  >div {
    min-width: 250px;
    margin-right: 10px;
  }
}


.productTour_btn {
  display: flex;
  flex-direction: column;
  position: absolute;

  button {
    width: 175px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    outline: 2px solid $primary;
    margin: 4px 0;
    color: $primary;
    background: $black;
    cursor: pointer;
    z-index: 1;
  }
}
