@import '@/styles/base.scss';

.userProgressCard {
  background-color: $black;
  margin: 2vh;
  border-radius: 15px;
  padding: 3vh 2vh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 10vh;
    padding: 0 20px;
    span {
      font-size: 24px;
      font-weight: 700;
    }
    color: $white;
  }
  .body {
    height: 70vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      cursor: pointer;
    }
    display: grid;
    gap: 15px;
    padding: 0 15px;
  }
}
.userProgressDataCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darkOne;
  padding: 15px;
  // margin: 15px;
  border-radius: 5px;
  .left {
    .heading {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .subheading {
      font-size: 14px;
      color: $darkThree;
    }
  }
  .right {
    .datelabel {
      font-size: 14px;
      color: $darkThree;
      margin-bottom: 7px;
    }
    .datetime {
      font-size: 16px;
    }
  }
}
.smallCard {
  background-color: $black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 2vh;
  padding: 3vh;
  .cardInfo {
    padding-left: 20px;
    .cardText {
      font-size: 14px;
    }

    .cardIn {
      display: flex;
      align-items: center;
      padding-top: 4px;
      .cardInfoImg {
        margin-left: -5px;
      }

      .cardInfoNumber {
        font-size: 30px;
        font-weight: 700;
        padding-left: 5px;
      }
    }
  }
}
.userMostEngagedSubcategories {
  background-color: $black;
  margin: 2vh;
  border-radius: 15px;
  padding: 3vh;
  .header {
    padding-bottom: 10px;
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .headText {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .allSubcategories {
      padding-top: 1vh;
      display: flex;
      align-items: center;

      p {
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }
  .body {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
}
.headingText{
  // border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin:0px 15px;
  font-size: 1.2vw;
  text-transform: capitalize;
  font-weight: 500
}
