@import '../../../../styles/base.scss';

.page_layout {
    margin-top: 65px;

    img {
        width: 40px;
    }

    .page_head {
        font-size: 25px;
        font-weight: 600;
    }

    .labeled_input {
        border: 1px solid $darkThree;
        background: $darkOne;
        height: 40px;
        width: 100%;
    }

    .page_title {
        color: $darkThree;
        margin: 25px 0;
        font-size: 17px;
    }

    .form_title {
        font-size: 16px;
        margin-bottom: 20px;
        color: $secondaryBlack;
    }

    .btnContainer {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 25px;
    }
}

.formContainerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    gap: 60px;

    .formContainer {
        display: flex;
        flex-direction: row;

        position: relative;

        // background-color: $black;
        background-color: transparent;
        border: 2px solid $darkThree;
        // border-radius: 25px;
        width: 100%;
        height: 45px;
        padding: 6px;

        .searchBar {
            width: 100%;
            left: 0;
            margin: -5px 0;
            z-index: 1;

            // to hide options after 3
            :global(.search__option) {
                &:nth-child(n + 4) {
                    display: none;
                }
            }
        }

        // input[type='text'] {
        //   border: none;
        //   width: 80%;
        //   font-family: 'Poppins';
        //   background-color: $black;
        //   color: $darkThree;
        // }

        // input:focus {
        //   outline: none;
        // }

        button {
            border: 1px solid $primary;
            background: $primary;
            width: 15%;
            font-weight: 700;
            font-size: medium;
            font-family: 'Poppins';
            margin: 0px;
            border-radius: 20px;
            cursor: pointer;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            img {
                object-fit: contain;
                height: 100%;
                padding: 5px;
            }
        }

        span {
            width: 35px;
        }
    }
}