$heroSectionPadding: 1em;

.topBar {
  position: absolute;
  width: 100%;

  display: grid;
  grid-template-columns: 5% auto 5%;
  place-items: center;
  align-items: center;

  padding: $heroSectionPadding 0px;
  background: linear-gradient(180deg, rgba($black, 0.7), transparent 80%);

  z-index: 1;

  .topbarIcons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 1em;
  }

  .topBarCenterTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;

    .title {
      font-size: 1rem;
      font-weight: bold;
      color: $primary;
    }
  }
}

.courseHero {
  $gradient: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0em,
    rgba(0, 0, 0, 0.9) 35em,
    rgba(0, 0, 0, 0.8) 50em,
    rgba(0, 0, 0, 0) 100em
  );
  $dotSize: 0.5em;

  position: relative;

  padding: $heroSectionPadding;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  // gradient
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: $gradient;
    z-index: -1;
  }

  .container {
    height: 100%;
    width: 45%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // padding: 0.5em;
    gap: 1em;

    .courseTitle {
      display: flex;

      h1 {
        font-size: 2rem;
        flex: 1;
      }

      .assignBtn {
        height: 2.5em;
        width: 2.5em;
        padding: 0.4em;
        border: 1px solid $primary;

        cursor: pointer;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    .courseDataContainer {
      flex: 1;

      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 0.5em;

      summary {
        margin: 1.5em 0px;
      }

      .catSubCat {
        width: 100%;

        display: flex;
        gap: 1em;

        list-style: none;
        color: $primary;
        font-size: 0.9em;
        font-weight: 600;

        li {
          display: flex;
          align-items: center;
          width: fit-content;

          position: relative;
          padding: 0em 1em;

          &:last-child {
            white-space: nowrap;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;

            height: $dotSize;
            width: $dotSize;

            border-radius: 50%;

            background-color: $primary;
          }
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      .courseBtnContainer {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        margin: 1em 0px;

        > span {
          display: flex;
          gap: 10px;

          button {
            min-width: 20em;
            transition: all 0.5s;

            &:hover {
              background-color: $primary;
              color: $black;

              path {
                fill: $black !important;
              }
            }
          }

          p {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            flex: 0;
            font-size: 0.8rem;
            color: $primary;

            span {
              width: 100%;
              font-weight: bold;
            }
          }
        }

        .courseBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          font-size: 0.9rem;

          .progress {
            position: absolute;
            left: 0;
            background-color: rgba($primary, 0.4);
            height: 100%;
          }

          .playBtnImgContainer {
            height: 2em;
            width: 2em;

            svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        .courseEndData {
          font-size: 0.65rem;
        }
      }
    }

    .coursePreviewBtn {
      display: flex;
      align-items: center;
      width: fit-content;

      gap: 0.5em;
      font-size: 0.8rem;

      cursor: pointer;
      margin: 1.5em 0px;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  .actionIcons {
    display: flex;
    gap: 1em;

    position: absolute;
    right: 5em;
    bottom: 0.5em;

    padding: 0.5em 1em;
    background-color: rgba($black, 0.7);
    border-radius: 0.5em;

    button {
      display: flex;
      align-items: center;

      gap: 0.1em;
      color: $primary;
      background-color: transparent;
      border: 0px;
      padding: 0px;
      cursor: pointer;

      svg {
        height: 1.7em;
        width: 1.7em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // util class
  .caption {
    font-size: 0.8rem;
  }
  .textGray {
    color: $darkThree;
  }
  .textBold {
    font-weight: 500;
  }

  .boldWhite {
    font-weight: 500;
    color: $white;
  }
}

.coursePreview {
  height: 100%;
  width: 100%;
}
