
@import '../../styles/base.scss';

.bgContainer {
   //position: relative;
  font-family: 'Open Sans';
  background-image: url('/images/starrySky2.png');
  background-position: fixed;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  outline: 1px dashed lightgray;
  height: 100vh;
  width: 100vw;
  //flex-flow: column nowrap;
  //scroll-snap-type: y mandatory;

  //section {
  //  height: 100%;
  //  width: 100%;
  //}
  .header {
    // position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 860px;
    padding-bottom: 5vh;
  }
  .container{
    display: flex;
    align-items: center;
    //justify-content: flex-start;  <- to fix the next and back btn
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 60vh;
    overflow: auto;
  }

  .container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }


  .ZicopsLogo {
    height: 63px;
    padding-right: 10px;
    img {
      object-fit: contain;
    }
  }

  .progress_container{
    margin: 8px 0 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .progress_circle{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 4px solid $secondaryWhite;
    }
    .progress_circle_selected{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $primary;
      box-shadow: 0 0 20px 0 $primary;
    }

    .progress_line{
      border: 2px solid $secondaryWhite;
      height: 2px;
      width: calc(50% - 18px);
    }
    .progress_line_selected{
      border: 2px solid $primary;
      height: 2px;
      width: calc(50% - 18px);
    }

  }

  .account_setup_title{
    display: flex;
    align-items: center;
    color: $white;
    margin-bottom: 16px;

    div{
      font-size: 24px;
      font-weight: 600;
    }

    p{
      padding-top: 3px;
      margin-left: 10px;
      font-size: 18px;
      font-weight: 500;
    }

  }

}