
@import '../../styles/base.scss';

.container {
  font-family: 'Open Sans';
  background-image: url('../../public/images/starrySky2.png');
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  outline: 1px dashed lightgray;
  height: 100vh;
  width: 100vw;
  //flex-flow: column nowrap;
  //scroll-snap-type: y mandatory;

  //section {
  //  height: 100%;
  //  width: 100%;
  //}

  .ZicopsLogo {
    height: 63px;
    img {
      object-fit: contain;
    }
    .setUp{
      color: #FFFFFF;
      font-size: 20px;
    }
  }


}