
@import '../../styles/base.scss';

.container {
  font-family: 'Open Sans';
  background-image: url('../../public/images/starrySky2.png');
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  outline: 1px dashed lightgray;
  height: 100vh;
  width: 100vw;
  //flex-flow: column nowrap;
  //scroll-snap-type: y mandatory;

  //section {
  //  height: 100%;
  //  width: 100%;
  //}

  .ZicopsLogo {
    height: 63px;
    img {
      object-fit: contain;
    }
    .setUp{
      color: #FFFFFF;
      font-size: 20px;
    }
  }

  .progress_container{
    margin: 32px 0 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .progress_circle{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 4px solid $secondaryWhite;
    }
    .progress_circle_selected{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $primary;
      box-shadow: 0 0 20px 0 $primary;
    }

    .progress_line{
      border: 2px solid $secondaryWhite;
      height: 2px;
      width: calc(50% - 18px);
    }
    .progress_line_selected{
      border: 2px solid $primary;
      height: 2px;
      width: calc(50% - 18px);
    }

  }

  .account_setup_title{
    color: $white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
  }

}