@import '../../../../styles/base.scss';

// .container {
//   margin-top: 10px;
//   max-height: 60vh;
//   overflow: auto;
// }

.paperContainer {
  max-height: 70vh;
  overflow: auto;
  padding-right: 5px;
}

.paperContainer::-webkit-scrollbar {
  width: 10px;
  border-radius: 7px;
  cursor: pointer;
}
/* Track */
.paperContainer::-webkit-scrollbar-track {
  background: $darkTwo;
  border-radius: 7px;
}
/* Handle */
.paperContainer::-webkit-scrollbar-thumb {
  background: $darkThree;
  border-radius: 7px;
}
