$textColor:#ACACAC;
.chatBox
{
  width: 296px;
  height:auto;
  margin-top: 10px;
}
.profileImg
{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  img 
  {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.personName
{
  font-weight: 400;
  font-size: 14px;
  color: #acacac;
}
.iconName
{
  width: 36%;
  display: flex;
  justify-content: space-between;
}
.messageTime
{
  width: 75%;
  display: flex;
  justify-content: flex-end;
  color:$textColor;
}
.messageHead
{
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}
.mainMessage
{
  width: 100%;
  min-height: 30px;
  max-height: 100%;
  display: flex;
  div 
  {
    width: 255px;
    display: flex;
    text-align: justify;
    margin: auto;
    padding-left: 10px;
    height: 100%;
    color:$white;
    // height: max-content;
    float: right;
  }
}