$poUpDivColor: #ACACAC;

.deletePopUpContainer {
    width: 482px;
    height: 284px;
    background-color: #1A1D21;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%)
}

.deletePoupInnerContainer {
    width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 14px;
}

.deletePoupInnerContainer>p {
    font-size: 20px;
    font-weight: 500;
    color: $white;
    border-bottom: solid #292F2F 1px;
    padding-bottom: 14px;
}

.deletePopUpNotice {
    color: $poUpDivColor;
    padding-top: 14px;
    padding-bottom: 14px;
}
.deletePoupBtn
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.deletePoupBtn >button 
{
    width: 209px;
    height: 48px;
    border-radius: 4px;
}