@import '../../../styles/base.scss';

.btnPrimary {
  width: 70px;
  cursor: pointer;
  font-family: sans-serif;
  background-color: $primary;
  color: $black;
  font-size: 13px;
  padding: 8px 5px;
  border: none;
  border-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.btnDark {
  width: 70px;
  background-color: $black;
  color: $primary;
  font-family: sans-serif;
  font-size: 13px;
  padding: 8px 5px;
  border: $primary 2px solid;
  opacity: 0.9;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
