@import '../../styles/base.scss';

.tabContainer {
  padding: 0 !important;
}

//Chorot mAster tab
.inputField {
  margin-bottom: 30px;
}

.uploadImage {
  display: flex;
  justify-content: space-between;
  width: 100%;

  label {
    width: 25%;
  }

  .buttonContainer {
    width: 75%;
  }

  .cohortButton2 {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: $primary;
    color: $black;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
  }

  .uploadImagePreview {
    color: $primary;
    // position: absolute;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    a {
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .uploadImageRemove {
    color: $white;
    // position: absolute;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    a {
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

//Users tab

.usersTopContainer {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 20px;
  }
  button {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}

// AddUsers page styling

.addUserTopContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  display: flex;

  img {
    height: 60px;
    object-fit: contain;
  }
  .titleContainer {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 55px;
    margin: 0 10px;
    color: $darkThree;
    .cohortTitle {
      font-size: 20px;
      color: $white;
    }
  }
}

.searchBarContainer {
  position: relative;
  width: 300px;

  img {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
  }

  input {
    padding-left: 40px;
  }
}

.addUserBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .leftSide {
    width: 200px;
    span {
      color: $primary;
    }
  }

  .buttonContainer {
    width: 135px;
    display: flex;
    justify-content: space-between;
  }
}

//button styling need to be change later

.cohortButton1 {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: $primary;
  color: $black;
  font-weight: bold;
  border-radius: 3px;
}

.cohortButton2 {
  padding: 10px;
  cursor: pointer;
  border: $primary;
  background-color: $primary;
  color: $black;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}

.cohortButton3 {
  padding: 8px;
  background-color: transparent;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  border: $primary 2px solid;
  display: inline-block;
  border-radius: 3px;
}
