@import '../../styles/base.scss';

.tabContainer {
  padding: 0 !important;
}

//Chorot mAster tab
.inputField {
  margin-bottom: 20px;
}

.uploadImage {
  display: flex;
  justify-content: space-between;
  width: 100%;

  label {
    width: 25%;
  }

  .buttonContainer {
    position: relative;
    width: 75%;
    input {
      position: absolute;
      cursor: pointer;
      width: 105px;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      display: none;
    }
  }

  .cohortButton2 {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: $primary;
    color: $black;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
  }

  .uploadImagePreview {
    color: $primary;
    // position: absolute;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    a {
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .uploadImageRemove {
    color: $white;
    // position: absolute;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
    a {
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

//Users tab

.usersTopContainer {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 20px;
  }
  button {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}

// AddUsers page styling

.addUserTopContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  display: flex;

  img {
    height: 60px;
    object-fit: contain;
  }
  .titleContainer {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 55px;
    margin: 0 10px;
    color: $darkThree;
    .cohortTitle {
      font-size: 20px;
      color: $white;
    }
  }
}

.searchBarContainer {
  position: relative;
  width: 300px;

  img {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
  }

  input {
    padding-left: 40px;
  }
}

.addUserBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .leftSide {
    width: 200px;
    span {
      color: $primary;
    }
  }

  .buttonContainer {
    width: 135px;
    display: flex;
    justify-content: space-between;
  }
}

//button styling need to be change later

.cohortButton1 {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: $primary;
  color: $black;
  font-weight: bold;
  border-radius: 3px;
}

.cohortButton2 {
  padding: 10px;
  cursor: pointer;
  border: $primary;
  background-color: $primary;
  color: $black;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}

.cohortButton3 {
  padding: 8px;
  background-color: transparent;
  color: $primary;
  font-weight: bold;
  cursor: pointer;
  border: $primary 2px solid;
  display: inline-block;
  border-radius: 3px;
}

//learner statistic container

.leanerStatsContainer {
  .titleContainer {
    font-size: 20px;
    font-weight: 500;
  }
}

.learnerBottomContainer {
  display: flex;
  justify-content: flex-end;
  div {
    display: flex;
    gap: 15px;
  }
  button {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}

//course mapping

.assign {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.assignInner {
  display: flex;
  justify-content: center;

  cursor: pointer;
  color: $primary;
}
.assignInner img {
  width: 20px;
  margin-right: 5px;
  color: $primary;
  // border: 1px solid $primary;
  &:hover {
    cursor: pointer;
  }
}
.course_loop {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  // justify-content: flex-start;
  gap: 20px;
}
.course_card {
  width: calc(100% / 3 - 20px + 20px / 3);
}
.imageContainer {
  display: flex;
  justify-content: flex-end;
  & img {
    width: 25px;
    margin: 0px 0px 10px 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.current_courses {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  svg {
    height: 15px;
    width: 15px;
  }

  &.marginBottom {
    margin-bottom: 20px;
  }
}

.assignCoursePopUp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding: 10px;

  .assignCoursePopUpTitle {
    font-size: larger;
  }

  .dataPickerStyle {
    display: flex;
    padding-right: 15px;
  }
  label {
    font-size: medium;
    font-weight: 400;
  }

  section {
    p {
      margin-bottom: 10px;
    }
  }

  .assignCourseButtonContainer {
    display: flex;
    justify-content: flex-end;
    // padding-right: 15px;
    gap: 10px;
  }
}
