@import '../../styles/base.scss';

// header
.searchHeader {
  padding: 50px 0;
  margin: 0 calc(4% + 10px);
  color: $darkThree;
  .searchQuery span {
    color: $primary;
    font-weight: 600;
  }
  .bar {
    margin: 20px 0;
    border-bottom: 1px solid $darkThree;
  }
  .searchParamDropdowns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .applyBtn {
    button {
      // background-color: $darkThree;
      background-color: $white;
      padding: 10px 40px;
      font-family: 'Open Sans';
      font-weight: 600;
      &:hover {
        background-color: $primary;
      }
    }
    span {
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: $white;
      }
    }
  }
}

// bookmark
.bookmarkContainer {
  margin: 0 calc(4% + 10px);
}
.searchBookmark {
  margin: 0 calc(4% + 10px);
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.searchBookmarkTitle {
  margin: 0 calc(4% + 10px);
  margin-bottom: 20px;
  color: $white;
  font-size: 20px;
  font-weight: 700;
}

// body
.searchBody {
  margin: 0 calc(4% + 10px);
  padding-bottom: 20px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.searchBodyTitle {
  margin: 30px calc(4% + 10px);
  color: $white;
  font-size: 20px;
  font-weight: 700;
}
