@import '../../styles/base.scss';


.main_div {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Vccard {
    width: 480px;
    height: 366px;
    border: 1px solid #484848;
    border-radius: 8px;
}

.video1 {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}
// .subvideo1
// {
//     z-index: 100;
//     height: 200px;
//     width: 200px;
//     border-radius: 50%;
//     border: solid black 1px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size:larger;
//     font-weight: bold;
//     color: white; 
//     position: absolute;
// }
.subvideo {
    z-index: 100;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:larger;
    font-weight: bold;
    color: white;
    background-color: black;

}

.btns {
    display: flex;
    height: 93px;
    width: auto;
    align-items: center;
    // padding-left: 1rem;
    overflow: hidden;
    background-color: #121212;
}

.btns>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #202222;
    padding: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.join_btn {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

.join_btn>button {
    width: 81px;
    height: 48px;
    border-radius: 3rem;
    background-color: #6BCFCF;
    cursor: pointer;
}

.meet {
    z-index: 1000;
    height: 99%;
    width: 100%;
    position: absolute;
    // top:0;
    // left: 0;
    // right: 0;
    // bottom: 0;
}

.disablevideo {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Styling footertool
.toolbar {
    // opacity: 0;
    transition: opacity 1s;
    z-index: 1010;
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0;

}

.toolbar_nav {
    // opacity: 0;

    transition: opacity 1s;
    // z-index: 1010;
    width: 100vw;
    height: 88px;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;

}

.toolbar_nav>button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    // margin-left: 10px;
    color: white;
    background-color: #202222;
    height: 48px;
    height: 48px;
    width: 48px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.screen {
    z-index: 1010;
    height: 100%;
    width: 100vw;
}

.toolbar_footer {
    // opacity: 0;
    transition: opacity 1s;
    position: absolute;
    bottom: 0;
    z-index: 1010;
    height: 88px;
    width: 100vw;
    background-color: black;
    display: flex;

    // justify-content: center;
    align-items: center;
}

.footer_left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.footer_left>button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: #202222;
    height: 48px;
    height: 48px;
    width: 48px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.footer_right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.footer_right>button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    // margin-left: 10px;
    color: white;
    background-color: #202222;
    height: 48px;
    width: 48px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.cansel_btn {
    height: 48px;
    width: 127px;
    border-radius: 4rem;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
    color: white;
    background-color: #F53D41;
    cursor: pointer;
}

#fadein1 {
    opacity: 0;
    transition: opacity 1s;
}

#fadeout1 {
    opacity: 1011;
    z-index: 1010;
}

#fadein2 {
    opacity: 0;
    transition: opacity 1s;
}

#fadeout2 {
    opacity: 1011;
    z-index: 1010;
}


// /styling chatbar
.chatbar {
    z-index: 1020;
    width: 336px;
    position: absolute;
    top: 88px;
    bottom: 88px;
    padding-left: 17px;
    right: 0;
    background-color: #1A1D21;
}

.chatbar_head {
    padding-top: 20px;
    width: 296px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: white;
    border-bottom: 1px solid #292F2F;
    padding-bottom: 20px;
}

.chatbar_head>button {
    background-color: transparent;
    outline: none;
    border: none;
}

.chatbar_Screen {
    width: 300px;
    height: 72%;
    overflow: scroll;
    padding-bottom: 20px;
    border-bottom: 1px solid #292F2F;
}

.chatbar_Screen::-webkit-scrollbar {
    display: none;
}

.chatbar_input {
    margin-top: 20px;
    height: 15%;
    width: 300px;
    border: 1px solid #292F2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    flex-direction: column;
}

.chatbar_input>input {
    width: 270px;
    font-size: 16px;
    height: 24px;
    color: white;
    background-color: #1A1D21;
    outline: none;
    border: none;

}

.chatsendfile {
    width: 276px;
    display: flex;
    justify-content: space-between;
}

.chatsendfile>input {
    color: white;
    background-color: #1A1D21;
    outline: none;
    border: none;
}

.chatbar>input> ::placeholder {
    color: #747474;
}

// styling AQ bar
.QAbar {
    z-index: 1020;
    width: 336px;
    position: absolute;
    top: 88px;
    bottom: 88px;
    padding-left: 17px;
    right: 0;
    background-color: #1A1D21;
}

.QAbar_head {
    padding-top: 20px;
    width: 296px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: white;
    border-bottom: 1px solid #292F2F;
    padding-bottom: 20px;
}

.QAbar_head>button {
    background-color: transparent;
    outline: none;
    border: none;
}

.QAbar_Screen {
    width: 300px;
    height: 75%;
    overflow: scroll;
    // padding-bottom: 20px;
}

.QAbar_Screen::-webkit-scrollbar {
    display: none;
}

.QAbar_input {
    // margin-top: 20px;
    height: 15%;
    width: 300px;
    border: 1px solid #292F2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    flex-direction: column;
}

.QAbar_input>input {
    width: 270px;
    font-size: 16px;
    height: 20px;
    color: white;
    background-color: #1A1D21;
    outline: none;
    border: none;

}

.QAsendfile {
    width: 276px;
    display: flex;
    justify-content: space-between;
}

.QAsendfile>input {
    color: white;
    background-color: #1A1D21;
    outline: none;
    border: none;
}

.QAbar>input> ::placeholder {
    color: #747474;
}

.QAbtn {
    width: 161px;
    height: 48px;
    background: #6BCFCF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

// Stylling Polls
.Pollbar {
    z-index: 1020;
    width: 336px;
    position: absolute;
    top: 88px;
    bottom: 88px;
    padding-left: 17px;
    right: 0;
    background-color: #1A1D21;
}

.Poll_head {
    padding-top: 20px;
    width: 296px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: white;
    border-bottom: 1px solid #292F2F;
    padding-bottom: 20px;
}
.Poll_Screen
{
    height: 75%;
    width: 296px;
}

.Poll_head>button {
    background-color: transparent;
    outline: none;
    border: none;
}

// styling Participants bar
.Participants_bar {
    z-index: 1020;
    width: 336px;
    position: absolute;
    top: 88px;
    bottom: 88px;
    padding-left: 17px;
    right: 0;
    background-color: #1A1D21;
}

.Participants_head {
    padding-top: 20px;
    width: 296px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: white;
    border-bottom: 1px solid #292F2F;
    padding-bottom: 20px;
}

.Participants_head>button {
    background-color: transparent;
    outline: none;
    border: none;
}

.Participants_Screen {
    height: 90%;
    width: 296px;
    overflow: scroll;

}

.Participants_Screen::-webkit-scrollbar {
    display: none;
}

.Participants_Screen_head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ACACAC;
}

.Allinstructors {
    width: 276px;
    height: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

// styling student frame

.Student_Frame {
    display: flex;
    width: 296px;
    // justify-content:baseline;
    align-items: center;

}
.student_frame_name
{
    font-size: 13px;
    margin-left: 10px;
}
.student_frame_icons {
    width:40%;
    display: flex;
    justify-content:right;
    align-items: center;
}
.student_frame_icons >img
{
margin-left: 5px;
}

.student_frame_icons>img {
    margin-right: 4px;
}
.avtar
{
    height: 40px;
    width: 40px;
    background-color: white;
    color:black;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

// styling White board
.WhiteBoard
{
    z-index: 1010;
    width: 100vw;
    z-index: 1000;
    position: absolute;
    top: 88px;
    bottom: 88px;
    background-color: white;
}
.whitepage
{
    width: 100vw;
    height: 85%;
    overflow: scroll;
    border: solid black 1px;
    cursor: url(/images/svg/vctool/pen.svg ),auto;
}
.whitepage::-webkit-scrollbar
{
    display: none;
}
.whiteBoardControlls
{
    width: 20vw;
    display:flex;
    justify-content:space-around;
    margin: auto;
    align-items:center
}
.whiteBoardControlls >div
{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 15px;
    justify-content: center;
    align-items: center;
}