@import '../../../styles/base.scss';
.card_wrapper{
background-color: #242630;
width: 100%;
padding: 20px;
border-radius: 5px;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
.card_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card_title{
        font-weight: 300;
        font-size: 18px;
        color: #EAEAEA;
    }
    .card_img img{
        background: #2B2D36;
        border: 1px solid #30323F;
        border-radius: 4px;
        padding: 14px;
    }
}
.card_count{
    font-weight: 500;
    font-size: 40px;
    color: #EAEAEA;
}
.card_text{
    font-weight: 400;
    font-size: 16px;
    color: #919397;
}
}