@import '../../../styles/base.scss';
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

$selfPacedBorder: $primary;
$testSeriesBorder: $warning;

.smallCardWrapper {
  .smallCard {
    position: relative;
    background-color: rgba(16, 16, 18, 0.9);
    display: flex;

    .banner {
      position: absolute;
      top: 0%;
      right: 0%;
      color: $black;
      background-color: $selfPacedBorder;
      border-radius: 0 0 0 10px;
      padding: 2px 6px;

      font-size: 10px;
      font-weight: bold;
      text-transform: capitalize;
      z-index: 1;
    }

    img {
      border-radius: 2px;
      aspect-ratio: 1.75/1;
      width: 100%;
    }
  }

  &.test-series {
    .banner {
      background-color: $testSeriesBorder;
    }
  }

  .smallCardContent {
    padding: 10px;
    background-color: #242630;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-top: -50px;
    max-height: 0;
    overflow: hidden;

    .firstRow {
      display: flex;

      .buttons {
        display: flex;
        flex: 1;
        img {
          width: 45%;
        }
        .addBtn {
          margin-left: 0;
          border: 1px solid #868686;
          border-radius: 50%;
        }
      }

      .durlang {
        flex: 2;
        text-align: end;

        .lang {
          color: #eaeaea;
          font-size: 13px;
        }

        .dur {
          color: #edb458;
          font-size: 12px;
        }
      }
    }

    .secondRow {
      color: #eaeaea;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 400;
    }

    .thirdRow {
      .pill {
        font-size: 12px;
        font-weight: 400;
        color: #eaeaea;
        background-color: #1a1b26;
        padding: 4px 8px;
        width: fit-content;
      }
    }

    .lastRow {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
      font-size: 10px;
      color: #eaeaea;

      .dot {
        content: '';
        width: 5px;
        height: 5px;
        background-color: #eaeaea;
        border-radius: 50%;
      }
    }
  }

  &:hover {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px 0 $black;
    transform: scale(1.1);
    transition: all 0.2s linear 0.6s;

    .smallCard {
      width: 100%;
      border: 2px solid $selfPacedBorder;
      border-bottom-width: 0px;
      transition: all 0.2s linear 0.6s;
    }

    .smallCardContent {
      width: 100%;
      margin-top: 0px;
      max-height: 500px;
      visibility: visible;
      opacity: 1;
      z-index: -1;
      padding: 10px;
      border: 2px solid $selfPacedBorder;
      border-top-width: 0px;
      transition: all 0.2s linear 0.6s;
    }

    &.test-series {
      .smallCard,
      .smallCardContent {
        border-color: $testSeriesBorder;
      }
    }
  }
}
