@import '../../../styles/base.scss';

// .btnLight{

// } 

.btnBlack {
  background-color: $black;
  color: $white;
  font-family: 'Open Sans';
  border: none;
  min-width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btnBlack:hover {
    box-shadow: 16.564px -3.824px 30.82px 15.18px rgba(107, 207, 207, 0.07), 0px -7px 9.5px 0.5px rgba(0, 0, 0, 0.56), 0px -7px 34.04px 11.96px rgba(4, 4, 4, 0.15);
}
.btnGrey {
  background-color: #858f8f;
  color: #ffffff;
  font-family: 'Open Sans';
  border: none;
  min-width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btnGrey:hover {
  /* background-color:#202222; */
  box-shadow: 10px -5px 20px 0px #31463c36, 0px -10px 20px 0px #000000c7, 0px 0px 20px 5px #ffffff48;
}

.btnBlack span img,
.btnGrey span img,
.btnLight span img {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.btnLight {
  background-color: #202222;
  color: #ffffff;
  font-family: 'Open Sans';
  border: none;
  min-width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btnLight:hover {
  background-color: #000000;
  box-shadow: 15px -5px 30px 15px #31463c36, 0px -7px 10px 0px #dbcfcf3d,
    0px -7px 35px 10px #ffffff48;
}


