@import '../../styles/base.scss';

.container {
  font-family: 'Open Sans';
  background-image: url('/images/starrySky2.png');
  background-position: center;
  background-size: cover;

  position: relative;

  display: flex;
  overflow: hidden;
  outline: 1px dashed lightgray;
  flex: none;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;

  section {
    height: 100%;
    width: 100%;
  }
}

.zoomIn {
  animation: zoomIn 2s;
  animation-delay: 500ms;
  z-index: 99;
}

.zoomOut {
  animation: zoomOut 2s;
  z-index: 99;
}

.scaleIn {
  animation: scaleIn 2s;
  z-index: 99;
}

.scaleOut {
  animation: scaleOut 2s;
  animation-delay: 2s;
  z-index: 99;
}

.scaleDown {
  // opacity: 0.5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
}

@keyframes zoomIn {
  0% {
    margin-top: -70px;
    transform: scale(0);
  }

  100% {
    margin-top: 0px;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    margin-top: 0px;
    transform: scale(1);
  }

  100% {
    margin-top: 60px;
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes scaleIn {
  0% {
    margin-top: -70px;
    transform: scale(1);
  }

  100% {
    margin-top: 0px;
    transform: scale(0);
  }
}

@keyframes scaleOut {
  0% {
    margin-top: 0px;
    transform: scale(4);
  }

  100% {
    margin-top: 60px;
    transform: scale(1);
    opacity: 0;
  }
}

// .HomeContainer {
//   font-family: 'Open Sans';
//   background-image: url('../../public/images/starrySky2.png');
//   background-position: center;
//   background-size: cover;
//   height: 100vh;
//   scroll-snap-align: start;
// }

//Home Header
.HomeHeader {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-top: 10px;

  .Login {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 65px;
    height: 80%;
    cursor: pointer;
    margin-right: 33px;

    font-size: 14px;
    font-weight: 600;

    color: $primary;

    // border: 1px solid $primary;
    &:hover {
      color: $white;
    }

    img {
      object-fit: contain;
      height: 40%;
    }
  }

  .ZicopsLogo {
    width: 70px;
    height: 80%;

    img {
      object-fit: contain;
      height: 100%;
    }
  }
}

//HomeBody
.scrollItems {
  height: 100%;
}

.HomeBody {
  //background-color: $darkTwo;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;
  height: 60%;
  // width: 60%;
  margin-top: 120px;
  // scroll-snap-type: y mandatory;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;

  .scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 220px;

    .scrollItems {
      transform: scale(0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Lcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      // background-color: $darkTwo;
      height: 150px;
      width: 150px;
      // margin-bottom: 30px;
      padding: 5px;

      :nth-child(1) {
        width: 66%;
        height: 70%;
        margin-bottom: 10px;
        object-fit: contain;
      }

      :nth-child(2) {
        width: 66%;
      }
    }

    .text {
      color: $white;
      font-size: 1.2em;
      text-align: center;
      // height: 85px;
      width: 505px;
    }
  }

  .btn {
    padding: 20px 0;
    margin-top: 10px;

    button {
      outline: none;
      border: 2px solid $primary;
      background-color: transparent;
      padding: 5px 20px;
      border-radius: 18px;
      font-family: 'Open Sans';
      color: $primary;
      cursor: pointer;

      &:hover {
        background: $primary;
        color: $white;
      }
    }
  }
}

.formContainerWrapper {
  width: 100%;
  position: absolute;
  bottom: 35%;
  display: flex;
  justify-content: center;
  z-index: 5;

  .formContainer {
    display: flex;
    flex-direction: row;
    background-color: $black;
    border: 3px solid $primary;
    border-radius: 5px;
    width: 450px;
    height: 40px;
    padding: 3px;

    input[type='text'] {
      border: none;
      width: 80%;
      font-family: 'Open Sans';
      background-color: $black;
      color: $darkThree;
    }

    input:focus {
      outline: none;
    }

    button {
      border: 1px solid $primary;
      background: $primary;
      //   color: $darkOne;
      width: 15%;
      font-weight: 700;
      font-size: medium;
      font-family: 'Open Sans';
      margin: -5px;
    }

    img {
      object-fit: contain;
      height: 100%;
    }

    span {
      width: 38px;
    }
  }
}

//Footer

.HomeFooter {
  position: fixed;
  width: 100%;
  height: 27px;
  bottom: 70px;
  // left: 0px;
  //   background-color: $darkTwo;
  font-size: small;

  .HomeFooterInner {
    display: flex;
    justify-content: space-evenly;

    font-family: 'Open Sans';

    max-width: 60%;
    margin: 3px 300px 0 300px;
    // gap: 20px;
    color: $white;
  }
}

// Animation for homepage scroll
.animated {
  margin-top: 120px;
}
