@import '../../../styles/base.scss';

.loaderContainer {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: $darkOne;
  display: flex;
  align-items: center;
  justify-content: center;
}
