@import '../../../styles/base.scss';

.searchArea {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px;
  height: 60px;
  gap: 10px;
}
.filterComp {
  display: flex;
  gap: 20px;

  flex: 0.8;
}
.searchComp {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  flex: 0.2;
}

.search {
  align-items: right;
  padding: 5px;
  // margin-bottom: -20px;
  background-color: transparent;
  border: none;
  color: $darkThree;
  border-bottom: 1px solid;
}
