@import '../../styles/base.scss';

.last_text {
  height: 140px;
  color: var(--primary);
  background-color: var(--dark_three);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.last_text:hover {
  border-radius: 4px;
  transition-delay: 0.6s;
}

.card_ietms[data-index='0']:hover {
  margin-left: 60px !important;
  margin-right: -60px !important;
}

.square {
  height: 300px !important;
}

.circle {
  height: 350px !important;
  width: 350px !important;
  border-radius: 50%;
}

//CircleCard Component

.circleCardContainer {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 60vh;
  padding: 15px;
}

.circleInnerContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.circleFront,
.circleBack {
  position: absolute;
  width: 100%;
  height: 60vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.circleFront img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
}

.circleBack {
  padding: 10px;
  border: 5px solid $primary;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(34, 37, 41) 0%, rgba(0, 0, 0, 1) 100%);
  transform: rotate(180deg);
  opacity: 0;
  .cTitle {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: 30px 50px 10px 50px;
    max-width: 70%;
    color: $white;
  }

  .cType {
    color: $primary;
    margin: 0 0 0 55px;
    font-size: 16px;
  }

  .cInfo {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: $white;
    max-width: 80%;
    margin: 15px 0 0 30px;
    span {
      color: $darkThree;
    }
  }

  .description {
    margin-top: 10px;
    font-size: small;
    color: $darkThree;
    text-align: center;
  }
}

.circleCardContainer:hover .circleInnerContainer {
  transform: rotate(180deg);
}

.circleCardContainer:hover .circleFront {
  opacity: 0;
  transition: ease-in 0.5s;
}

.circleCardContainer:hover .circleBack {
  opacity: 1;
  transition: ease-in 0.5s;
}

// small card

.card_ietms,
.card_ietms_big,
.card_ietms_round {
  z-index: 0;
  /* border: 1px solid white; */
  /* transition: all 0.2s ease-out 0.6s; */
  transform: scale(0.95);
  border-radius: 8px;
  border: 4px solid transparent;
}

.card_ietms img,
.card_ietms_big img,
.card_ietms_round img {
  width: 100%;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
  z-index: 0;
}

.card_ietms:hover {
  transform: scale(1.4);
  transition: all 0.2s ease-out 0.6s;
  /* max-height: 200px; */
  width: 350px;
  background-color: var(--header-bg);

  padding: 0;
  border: 4px solid var(--primary);
  box-shadow: 0 0 20px 0 var(--black);

  z-index: 99;
}
.card_ietms:hover .overlay {
  transition: all 0.2s ease-out 0.6s;
  opacity: 1;

  /* border-bottom: 4px solid var(--primary);
  border-left: 4px solid var(--primary);
  border-right: 4px solid var(--primary); */
}

.card_ietms_start:hover > li {
  margin-left: 60px;
  margin-right: -60px;
}
.card_ietms_end:hover {
  margin-left: -60px;
  margin-right: 60px;
}

.card-left:hover {
  margin-left: 60px;
  margin-right: -60px;
}
.card-right:hover {
  margin-left: -60px;
  margin-right: 60px;
}

// square cardComponent

.cardContainer {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 50vh;
  padding: 10px;
}

.cardInnerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardFrontSide,
.cardBackSide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardFrontSide img {
  width: 100%;
  height: 100%;
}

.cardBackSide {
  padding: 10px;
  border: 5px solid $primary;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(34, 37, 41) 0%, rgba(0, 0, 0, 1) 100%);
  transform: rotateY(180deg);
  .cbTitle {
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
    max-width: 80%;
    color: $white;
  }

  .cbType {
    color: $primary;
    margin-bottom: 20px;
  }

  .cbInfo {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: $white;
    span {
      color: $darkThree;
    }
  }

  .cbDiscription {
    margin-top: 10px;
    font-size: small;
    color: $darkThree;
  }

  .category {
    position: absolute;
    bottom: 0;
    display: flex;
    padding-bottom: 5px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
      li {
        margin-right: 20px;
        font-size: 0.8em;
        color: $white;
      }
    }
  }
}

.cardContainer:hover .cardInnerContainer {
  transform: rotateY(180deg);
}

// Vendor MarketYard

.cardVendorContainer {
  width: 100%;
  color: white;
  border: 2px solid transparent;
  &:hover {
    transform: scale(1.2);
    transition: all 300ms 0.6s;
    & .vendorImage{
      box-shadow: 0 0 10px 0 $black;
    }
  }

  .vendorImage {
    background-color: $darkThree;
    border-radius: 20px;
    img {
      border-radius: 10px;
      aspect-ratio: 1/1;
      width: 100%;
    }
  }
  .vendorTitle {
    font-size: 1em;
    margin-top: 10px;
  }
  .vendorType {
    font-size: 0.7em;
    color: $bgBody;
    text-transform: capitalize
  }
}
