@import '../../styles/base.scss';

//Profile personel Details styling

.profileDetailsContainer {
  //   margin: 20px 20px;
  padding: 0;
  display: flex;
  gap: 50px;
}

.profilePicContainer {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: contain;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Open Sans';
  margin-top: 20px;

  .profileDetailsField {
    display: flex;
    .label {
      font-weight: 600;
      width: 230px;
    }
    // .labelOrg {
    //   font-weight: 600;
    //   width: 70px;
    // }
    // .labelPreferences{
    //   font-weight: 600;
    //   width: 230px;
    // }
    .colon {
      margin: 0 20px;
    }
    .value {
      flex: 1;
      margin-left: 20px;
      font-weight: 300;
      text-align: left;
    }
  }
}

//Organization Details styling

.organizationDetailsContainer {
  //   margin: 10% 2.5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Open Sans';
  margin-top: 20px;

  span {
    display: flex;
  }

  .label {
    font-weight: 600;
    width: 50%;
  }

  .value {
    width: 50%;
    font-weight: 300;
    text-align: left;
  }
}

//Profile preference styling

.profilePreferencesContainer {
  //   margin: 10% 2.5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Open Sans';
  margin-top: 20px;

  span {
    display: flex;
  }

  .label {
    font-weight: 600;
    width: 50%;
  }

  .value {
    width: 50%;
    font-weight: 300;
    text-align: left;
  }
}

.editFillIcon img {
  margin-left: 20px;
  width: 20px;
  cursor: pointer;
}

.userInfoButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  .updateBtn {
    border-radius: 5px;
    background-color: $primary;
    color: $black;
    margin: 0 20px;
  }
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
