@import '../../../styles/base.scss';

.container{
  width: 100%;

  .pacman_container{
    //padding-top: 72px;
    // padding: 100px 10px 50px;
    background: $black;
    color: $white;
    display: flex;
    height: 600px;
  }

  .arrow_navigator_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    color: $secondaryBlack;
    width: 250px;
  }
  .arrow_navigator_container_flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow_navigator{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $secondaryBlack;
  }
  .arrow_navigator:hover{
    color: $black;
    background: $primary;
    border: 0;
  }

  .arrow_navigator_clicked{
    color: $black;
    background: $primary;
    border: 0;
  }

  .arrow_navigator_up{
    margin-bottom: 3px;
  }
  .arrow_navigator_right{
    margin-left: 3px;
  }
  .arrow_navigator_left{
    margin-right: 3px;
  }

  .pacman_board_container{
    width: calc(100vw - 250px);
    height: 100%;
    border-radius: 3px;
    border: 5px solid $primary;
    box-shadow: 0 0 30px $primary;
    padding: 20px;
  }

  .pac_man{
    width: 0;
    height: 0;
    border-top: 20px solid yellow;
    border-left: 20px solid yellow;
    border-bottom: 20px solid yellow;
    border-right: 20px solid transparent;
    border-radius: 50%;
    position: absolute;

  }

}