@import '../../../styles/base.scss';

.carouselButtonGroup {
  position: absolute;
  top: 50%;
  width: 100%;

  .btn {
    position: absolute;
    transform: translateY(-50%);

    height: 30px;
    width: 30px;

    &.left {
      left: 30px;
    }

    &.right {
      right: 30px;
    }
  }
}

.fallBackMsg {
  color: $white;
  font-size: 25px;
  font-weight: 700;

  text-align: center;
  width: 100%;
  margin: 50px auto;
}
