@import '../../../styles/base.scss';
.userInfoWraper {
    background-color: #0B0C0D;
    width: 100%;
    max-height: 400px;
    flex-wrap: wrap;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0px;
    // display: grid;
    // grid-template-columns: 50% 50%;
    canvas {
        width: 100%;
        height: 100%;
    }
}