@import '../../../styles/base.scss';
.userInfoWraper {
  background-color: $darkTwo;
  width: 100%;
  // max-height: 400px;
  flex-wrap: wrap;
  border-radius: 16px;
  // padding: 20px;
  margin: 20px 0px;
  // display: grid;
  // grid-template-columns: 50% 50%;

  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .chartAreaWrapper {
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}
