.switchRadioBox {
    display: flex;
    padding: 10px 15px;
    margin: 15px;
  
    border: 1px solid $darkThree;
    border-radius: 5px;
  
    width: 50%;
  
    .label {
      font-weight: bold;
    }
    .description {
      color: $darkThree;
    }
  
    &.active {
      border-color: $primary;
    }
  }
  .switchBox {
    // flex-direction: column;
    // gap: 5px;
  
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }