@import '../../../styles/base.scss';

.footerBtn {
  min-width: 155px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid $darkThree;

  padding: 10px 20px;
  margin: 5px;

  color: $secondaryBlack;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 0 $darkThree;
  }
}


.tabHeader ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tabli {
  padding: 7px 35px 8px 35px;
  background-color: transparent;
  color: var(--dark_three);
  border-radius: 5px 5px 0 0;
  font-size: 16px;
  line-height: 20px;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.tabli.active {
  background-color: #202222;
  color: var(--white);
  box-shadow: 0 0px 10px 0 var(--dark_one);
  border-bottom: 1px solid var(--white);
}

.tabSection {
  background-color: #202222;
  height: 60vh;
  overflow: auto;
  padding: 20px 50px;
}

.tabSection::-webkit-scrollbar {
  width: 15px;
  border-radius: 7px;
  cursor: pointer;
}

.tabSection::-webkit-scrollbar-track {
  background: #2a2e31;
  border-radius: 7px;
}

.tabSection::-webkit-scrollbar-thumb {
  background: #969a9d;
  border-radius: 7px;
}

.tabSection::-webkit-scrollbar-thumb::hover {
  background: #555;
}

// footer
.contentPanel {
  margin: 0;
  color: var(--white);
  height: 65px;
  // box-shadow: -2px 2px 10px 0 #000000, 2px -2px 5px 0 #686868;
  background-color: #000000;
  border-radius: 0 0 10px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftText {
  margin-left: 50px;
  font-size: 14px;
}

.rightText {
  margin-right: 50px;
}
