$primary: #6bcfcf;
$secondary: #24575d;

$accent: #142c2c;
$bgContent: #081111;

$white: #ffffff;
$secondaryWhite: #484848;

$black: #040404;
$secondaryBlack: #737373;
$tertiaryBlack: #121212;

$header: #b5b5b5;

$darkOne: #1a1a1a;
$darkTwo: #202222;
$darkThree: #868f8f;

$bgTile: #1a1d21;
$bgBody: #acacac;
$bgFooter: #001111;
// $bgHeader: #222529;
$bgHeader: #0b0c0d;

$headerHeight: 70px;
$footerHeight: 100px;

// mixins

// to make background semi transparent
@mixin transparentBackground($bgColor: $bgContent, $opacity: 0.5) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $bgColor;

    z-index: -1;

    opacity: $opacity;
  }
}
