@import './base.scss';

* {
  // disable text selection
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.adminContent {
  background-color: $darkOne;
  float: right;
  width: calc(100% - 250px);
  z-index: 1;
  margin-top: 70px;
  height: calc(110vh - 70px);
  padding: 30px 70px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

// Menu Left Right
// .dropdown-submenu-justifycontent-left {
//   display: flex;
//   justify-content: flex-start;
// }

// .dropdown-submenu-justifycontent-right {
//   display: flex;
//   justify-content: flex-end;
// }

// Submenu Styles
.szh-menu {
  background: $bgHeader;
  color: $primary;
  padding: 2px;
  margin-top: -4px;
}

.szh-menu--dir-left {
  margin-left: 15px;
}
.szh-menu--dir-right {
  margin-left: -15px;
}
.szh-menu__item {
  border-radius: 6px;
  border: 1px solid $primary;
  border-radius: 0;
}

.szh-menu__item--hover {
  color: $primary;
  background-color: $darkOne;
}

.szh-menu__arrow {
  background-color: transparent;
}

// scroll bar styles
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

// Track
::-webkit-scrollbar-track {
  background: #2a2e31;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 5px;
}

// util classes (common classes that are like bootstrap util classes)
@for $i from 1 through 100 {
  .w-#{$i} {
    width: #{$i} + '%';
  }

  .h-#{$i} {
    height: #{$i} + '%';
  }
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.center-element-with-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-absolute {
  position: absolute;
}
