@import './base.scss';

.adminContent {
    background-color: $darkOne;
    float: right;
    width: calc(100% - 250px);
    z-index: 1;
    margin-top: 70px;
    height: calc(110vh - 70px);
    padding: 30px 70px;
}