@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primary: #6bcfcf;
  --secondary: #24575d;
  --accent: #142c2c;
  --background_content: #081111;

  --white: #ffffff;
  --secondary_white: #484848;
  --tertiary_black: #121212;
  --secondary_black: #737373;
  --black: #040404;

  --header: #b5b5b5;
  --background_body: #acacac;

  --footer_background: #001111;
  --error: #cf3e3e;
  --dark_one: #1a1a1a;
  --dark_two: #202222;
  --dark_three: #868f8f;
  --tile-bg: #1a1d21;
  /* --header-bg: #222529; */
  --header-bg: #0b0c0d;
  --skeleton-dark: dimgray;
  --popup-bg-color: #323232;
}
* {
  /* border: 1px solid rgb(56, 231, 91); */
  /* background-color: rgba(red, 0.1)!important; */
}
html,
body, h1, h2, h3, h4, h5, p, ul, li {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
textarea{
  resize: none;
}
/* Change the color when autocomplete field */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px #202222 inset !important;
    -webkit-box-shadow: 0 0 0 30px #202222 inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: #ffffff !important;
}
.course_master{
  padding: 30px 50px 20px 50px;
  position: relative;
}
.placeholder{
  color: #00f !important;
}
/* .row {
  width: 100%;
  margin: 30px 0;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

.mt_10{ margin-top: 10px}
.mb_10{ margin-bottom: 10px}
.mt_20{ margin-top: 20px}
.mb_20{ margin-bottom: 20px}
.mt_30{ margin-top: 30px}
.mb_30{ margin-bottom: 30px}

.center_row{
  width: 100%;
  text-align: center;
}
.form_row {
  width: 80%;
  margin: 5px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
}
.form_row input, .form_row select{
  border: 1px solid #858f8f!important;
  padding: 5px 10px!important;
}
.form_row input[type="time"]{
  width: 20%;
  margin-right: auto;
  color: #858f8f;
}
.container-fluid {
  width: 100%;
}

.col_10 {
  width: 10%;
}
.col_15 {
  width: 15%;
}
.col_25 {
  width: 25%;
}
.col_33 {
  width: 33.33%;
}
.col_40 {
  width: 40%;
}
.col_50 {
  width: 50%;
}
.col_60 {
  width: 60%;
}
.col_75 {
  width: 75%;
}
.row input, .row textarea{
  padding: 10px;
  margin: 10px;
  border: 2px solid #6bcfcf;
  background-color: #202222;
  color: var(--white);
  font-size: 13px;
  font-family: 'Poppins';
}
.row input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #868686;
  opacity: 1; /* Firefox */
}
.row input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #868686; 
}
.row input::-ms-input-placeholder { /* Microsoft Edge */
  color: #868686;
}
.row input:focus, .row select:focus, .row textarea:focus{
  border: 2px solid #6bcfcf;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px #6bcfcf;
  outline: 0;
  color: var(--white);
}

.row select{
  padding: 10px;
  margin: 10px;
  border: 2px solid #6bcfcf;
  background-color: #202222;
  color: #868686;
  font-size: 13px;
  font-family: 'Poppins';
}
.row select option{
  font-size: 14px;
  color: var(--dark_three)!important;
  background-color: var(--dark_two);
}

.white{
  color: var(--white)!important;
}
.drag_category_area {
  height: 180px;
  overflow-y: auto;
  margin: 10px;
  background-color: #1a1a1a;
  border-radius: 10px;
}
/* Scrollbar */
/* width */
.drag_category_area::-webkit-scrollbar {
  width: 5px;
  border-radius: 7px;
  cursor: pointer;
}
/* Track */
.drag_category_area::-webkit-scrollbar-track {
  background: #2a2e31; 
  border-radius: 7px;
}
/* Handle */
.drag_category_area::-webkit-scrollbar-thumb {
  background: #969a9d; 
  border-radius: 7px;
}
/* Handle on hover */
.drag_category_area::-webkit-scrollbar-thumb:hover {
  background: #555;   
}
.drop_category_area {
  height: 180px;
  overflow-y: auto;
  margin: 10px;
  /* padding: 10px; */
  background-color: #1a1a1a;
  border-radius: 10px;
}
.inner_drag_ele {
  background-color: #202222;
  margin: 10px;
  border-radius: 5px;
  padding: 3px 15px;
  font-size: 13px;
  color: #858f8f;
}
.inner_drop_ele {
  background-color: #202222;
  /* margin: 10px; */
  border-radius: 5px;
  padding: 3px 15px;
  font-size: 13px;
  color: #858f8f;
  width: 100%;
}

.handdrag{
  width: 50px;
  display: block;
  margin: auto;
}
.inner_drag_srch{
  margin-bottom: 0;
}
.inner_drag_srch input{
  background-color: #202222;
  border: 1px solid #858f8f;
  border-radius: 5px;
  padding: 3px 15px;
  font-size: 13px;
  color: #858f8f;
  width: 90%;
  margin: 10px 0 0 10px;
  background-image: url(/images/search.png);
  background-size: 15px;
  background-position: right 10px top 5px;
  background-repeat: no-repeat;
}
.inner_drag_srch input:focus{ 
  border-radius: 5px;
  outline: 0;
}

/* .inner_drag_srch input:after{
  background-color: black;
  background-image: url(/images/search.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99;
} */

.Sr_no {
  color: #63c0c0;
  margin-right: 10px;
  /* margin: 10px 0px 10px 10px; */
  /* padding: 0px 5px; */
  font-size: 13px;
}

.wrap_drop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}















.buttongap{
  margin: 10px 0;
}
.admin-next-btn{ 
  background-color: var(--primary);
  color: var(--dark_one);
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
}
.admin-next-btn:hover{ 
  /* background-color: var(--dark_three); */
  box-shadow: 0px 0px 10px 0px var(--dark_three);
}
.active_button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.switch {
position: relative;
display: block;
/* vertical-align: top; */
width: 60px;
height: 28px;
padding: 3px;
margin: 0 10px 10px 0;
/* background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px); */
/* background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px); */
border-radius: 18px;
/* box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05); */
cursor: pointer;
box-sizing:content-box;
}
.switch_input {
position: absolute;
top: 0;
left: 0;
opacity: 0;
box-sizing:content-box;
}
.switch_label {
position: relative;
display: block;
height: inherit;
font-size: 10px;
text-transform: uppercase;
background: #9f1f24;
border-radius: inherit;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
box-sizing:content-box;
}
.switch_label:before, .switch_label:after {
position: absolute;
top: 50%;
margin-top: -.5em;
line-height: 1;
-webkit-transition: inherit;
-moz-transition: inherit;
-o-transition: inherit;
transition: inherit;
box-sizing:content-box;
}
.switch_label:before {
content: attr(data-off);
right: 11px;
color: #aaaaaa;
text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch_label:after {
content: attr(data-on);
left: 11px;
color: #FFFFFF;
text-shadow: 0 1px rgba(0, 0, 0, 0.2);
opacity: 0;
}
.switch_input:checked ~ .switch_label {
background: #27b24c;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch_input:checked ~ .switch_label:before {
opacity: 0;
}
.switch_input:checked ~ .switch_label:after {
opacity: 1;
}
.switch_handle {
position: absolute;
top: 4px;
left: 4px;
width: 26px;
height: 26px;
background: #202222;
/* background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0); */
border-radius: 100%;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch_handle:before {
content: "";
position: absolute;
top: 50%;
left: 50%;
margin: -6px 0 0 -6px;
width: 12px;
height: 12px;
background: #202222;
/* background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF); */
border-radius: 6px;
box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch_input:checked ~ .switch_handle {
left: 35px;
box-shadow: -1px 1px 5px #00000033;
}

/* Transition
========================== */
.switch_label, .switch_handle {
transition: All 0.3s ease;
-webkit-transition: All 0.3s ease;
-moz-transition: All 0.3s ease;
-o-transition: All 0.3s ease;
}



/* //////file upload field */
.upload_btn_wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.btn {
  padding:  0 20px;
  margin: 10px;
  border: 2px solid #858f8f;
  background-color: #202222;
  border-radius: 3px;
  color: #858f8f;
  font-size: 13px;
  font-family: 'Poppins';
  /* border: 2px solid #63c0c0;
  color: gray;
  background-color: transparent;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  width: 100%; */
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.upload_btn_wrapper input[type=file] {
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.input_icon span img {
  width: 30px;
  margin: 5px 10px 5px 0;
}
.preview_remove_links{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding-left: 20px;
  width: 100%;
}
.preview{
  font-size: 13px;
  color: #858f8f;   
  cursor: pointer;
}
.remove{
  font-size: 13px;
  color: #858f8f;
  margin-left: 45px;
  cursor: pointer;
}




/* topic tab css */
.btn_add{
  background-color:#000000 ;
  color:#ffffff;
  font-family: 'Poppins';
  border: none;
  min-width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_add:hover{
  box-shadow: 16.564px -3.824px 30.82px 15.18px rgba(107, 207, 207, 0.07),0px -7px 9.5px 0.5px rgba(0, 0, 0, 0.56),0px -7px 34.04px 11.96px rgba(4, 4, 4, 0.15);
}
.btn_add span img, .btn_grey span img, .btn_lightblack span img{
  width: 13px;
  height: 13px;
  margin-right:10px;
}
.btn_lightblack{
  background-color:#202222 ;
  color:#ffffff;
  font-family: 'Poppins';
  border: none;
  min-width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_lightblack:hover{
  background-color:#000000;
  box-shadow: 15px -5px 30px 15px #31463c36,0px -7px 10px 0px #dbcfcf3d,0px -7px 35px 10px #ffffff48;
}

.btn_grey{
  background-color:#858f8f ;
  color:#ffffff;
  font-family: 'Poppins';
  border: none;
  min-width: 150px;
  padding: 10px 5px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_grey:hover{
  /* background-color:#202222; */
  box-shadow: 10px -5px 20px 0px #31463c36, 0px -10px 20px 0px #000000c7, 0px 0px 20px 5px #ffffff48;
}


.chapter_section{
  display: flex;
}
.radio_btn input{
  width: 20px;
  height: 20px;
  border-color: tomato;
}
.chapter{
  padding-left: 20px;
  width: 400px;
}
.chapter .chapter_head{
    font-size: 15px;
    color: white;
    text-transform: capitalize;
  }
.chapter .chapter_desc{
  font-size: 10px;
  color:#858f8f ;
  word-wrap: wrap;
  padding-top: 5px;
}

.two_buttons{

}
.button_one{
  width: 150px;
  height: 40px;
  background-color:#202222;
  border:2px solid #858f8f ;
  color:#858f8f;
  cursor: pointer;
  margin-right: 15px;
  text-transform: capitalize;
  font-size: 15px;
}
.button_one:hover{
  border-color: #ffffff; 
  color:#ffffff;
  background-color: #1a1a1a;
}
.button_two{
  width: 150px;
  height: 40px;
  background-color:#202222;
  border:2px solid #858f8f ;
  color:#858f8f;
  cursor: pointer;
  margin-right: 15px;
  text-transform: capitalize;
  font-size: 15px;
}
.button_two:hover{
  border-color: #ffffff; 
  color:#ffffff;
  background-color: #1a1a1a;
}
.button_single{
  padding: 10px 40px;
  background-color: transparent;
  color: #858f8f;
  border: 1px solid #303131;
  border-radius: 35px;
  cursor: pointer;
  margin: auto;
  margin: 10px;
}
.button_single:hover{
  box-shadow: 0 5px 50px 10px #858f8f75;
}
.button_container{
  display: flex;
  justify-content:left;
  padding:0 10px;
}

.btn_cancel_add{
  width: 150px;
  height: 40px;
  background-color:#202222;
  border:2px solid #858f8f ;
  color:#858f8f;
  cursor: pointer;
  margin-right: 15px;
  text-transform: capitalize;
  font-size: 15px;
}
.btn_cancel_add:hover{
  border-color: #ffffff; 
  color:#ffffff;
  background-color: #1a1a1a;
}

/* CHAPTER POPUP CSS */
.add_chapter_popup{
  width: 800px;
  position: fixed; 
  top: 50%; 
  left: 57%; 
  transform: translate(-50%, -50%);
}
.chapter_add{
  width: 100%;
  padding:20px ;
  border-radius: 10px;
  background-color: #202222;
  opacity: 0.98;
  box-shadow: 0px 0px 20px 0px #eeeeee83,0px 0px 100px 20px #000000;
}
.chapter_head{
  /* border-bottom: 1px solid rgba(109, 207, 246, 0.247) ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chapter_title{
  color: #858f8f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
}
.chapter_cross_img img{
  width: 20px;
  cursor: pointer;
}
.chapter_body{
  min-height: 200px;
  padding: 10px;
  border:1px solid #202222;
  border-radius: 10px;
  max-height: 52vh;
  overflow: auto;
  color: #ffffff;
}
.chapter_foot{
  padding: 0 20px;
  margin: auto;
}
.btn_cancel_add{
  width: 150px;
  height: 40px;
  background-color:#202222;
  border:2px solid #858f8f ;
  color:#858f8f;
  cursor: pointer;
  margin-right: 15px;
  text-transform: capitalize;
  font-size: 15px;
}
.btn_cancel_add_disabled{
  width: 150px;
  height: 40px;
  background-color:#202222;
  border:2px solid #858f8f ;
  color:#858f8f;
  cursor: no-drop;
  margin-right: 15px;
  text-transform: capitalize;
  font-size: 15px;
  opacity: 0.5;
}
.btn_cancel_add:hover{
  border-color: #ffffff; 
  color:#ffffff;
  background-color: #1a1a1a;
}

/* CHAPTER POPUP CSS END */
.topic_add{
  width: 100%;
  padding:20px ;
  border-radius: 10px;
  background-color: #000000;
  opacity: 1;
  box-shadow: 0px 0px 20px 0px #eeeeee83,0px 0px 100px 20px #000000;
}
.topic_title{
  color: #f3f3f3;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.topic_title::before,
.topic_title::after {
  display: inline-block;
  content: "";
  border-top: 2px solid #858f8f;
  min-width: 200px;
  margin: 0 1rem;
  transform: translateY(-5px);
}
.checkbox_mark{
  display: flex;
  justify-content: center;
}











.dark_calender .react-datepicker, 
.dark_calender .react-datepicker__triangle, .dark_calender .react-datepicker__triangle:after, .dark_calender .react-datepicker__triangle:before,
.dark_calender .react-datepicker__header {
  background-color: var(--dark_one)!important;
  border: 1px solid var(--dark-one)!important;
}
.dark_calender .react-datepicker{
  box-shadow: 0 0 10px 0px var(--primary);
}
.dark_calender .react-datepicker__month-container {
  background-color: var(--dark_one)!important;
}
.react-datepicker__month{
  overflow: hidden;
}
.dark_calender .react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day.calander_dates{
  color: var(--dark_three)!important;
  font-family: 'Calibri';
}
/* .react-datepicker__day-name.react-datepicker__day-names{
  padding: 0 15px!important;
} */

.react-datepicker__day.calander_dates{
  background-color: var(--dark_two)!important;
  outline: 2px solid var(--dark_two)!important;
  position: relative;
  z-index: 1;
}
.calander_dates.react-datepicker__header.react-datepicker__header--custom div:first-child{
  margin: 0!important;
}
.calander_dates.react-datepicker__day:hover{
  color: var(--primary)!important;
  border-radius: 0 !important;
  /* outline: 1px solid var(--dark_three)!important; */
  box-shadow: 0 0 30px 10px var(--primary);
  position: relative;
  z-index: 0;
}
.calander_dates.react-datepicker__day--selected,.calander_dates.react-datepicker__day--keyboard-selected{
  border-radius: 0 !important;
  outline: 2px solid var(--primary)!important;
  background-color: var(--black)!important;
  color: var(--primary)!important;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

/* .big_calander_dates{
  color: var(--dark_two); */
  /* background-color: var(--white); */
/* } */

.react-datepicker.big_calender {
  width:400px!important;
  height:400px!important;
  background-color: var(--dark_two)!important;
  border: 0;
}
.big_calender .react-datepicker__month-container{
  width:100%;
  height: 100%;
  background-color: var(--dark_two)!important;
}
.big_calander.react-datepicker__header{
  background-color: var(--dark_two)!important;
  border-bottom: 0 !important;
}  
.react-datepicker__header{
  background-color: unset!important;
  border-bottom: 0 !important;
  color: var(--white)!important;
}
.big_calender_body{
  color: var(--white)!important;
}
.react-datepicker__day.big_calander_dates {
  border: 1px solid var(--dark_three)!important;
  width: 30px;
  margin: 10px;
}
.big_calander_dates.react-datepicker__day:hover{
  color: var(--dark_two)!important;
  border-radius: 0 !important;
  position: relative;
  z-index: 0;
}
.big_calander_dates.react-datepicker__day--selected,.big_calander_dates.react-datepicker__day--keyboard-selected{
  /* border-radius: 0 !important;
  outline: 2px solid var(--primary)!important;
  background-color: var(--black)!important;
  color: var(--primary)!important;
  font-weight: 700;
  position: relative;
  z-index: 2; */
}
















.zicops_select_container {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 200px;
  height: 40px;
  outline: none;
  padding: 10px 0px;
  font-weight: 600;
}
.zicops_select__control{
  background-color: var(--dark_two)!important;
  border-radius: 0!important;
  border: 2px solid var(--primary)!important;
  box-shadow: none;
}
.zicops_select__control--menu-is-open{
  background-color: var(--dark_two)!important;
  border-radius: 0!important;
  border: 2px solid var(--primary)!important;
  color: var(--primary)!important;
}
.zicops_select__value-container{
  color: var(--primary)!important;
}
.zicops_select__single-value{
  color: var(--primary)!important;
}
.zicops_select__placeholder{
  color: var(--primary)!important;
}
.zicops_select__indicators{
  color: var(--primary)!important;
}
.zicops_select__indicators:hover{
  color: var(--primary)!important;
  cursor:pointer;
}
.zicops_select__indicator-separator{
  display: none;
}
.zicops_select__input-container input{
  color: var(--primary)!important;
  cursor:pointer;
}
.zicops_select__menu{
  background-color: var(--dark_two)!important;
  margin: 10px 0!important;
  cursor:pointer;
}
.zicops_select__menu-list{
  color: var(--primary)!important;
  border-radius: 0!important;
  cursor:pointer;
}
.zicops_select__option:hover{
  background-color: var(--black)!important;
  cursor:pointer;
}
.zicops_select__option{
  background-color: var(--dark_two)!important;
  border: 1px solid var(--primary);
  border-radius: 0!important;
  width: calc(100% - 8px)!important;
  margin: 4px!important;
  cursor:pointer;
}





.header-carousel-container{
  z-index: 0!important;
}
.carousel_track {
  position: relative;
  align-items: flex-start;
  z-index: 0;
  /* gap: 8px; */
}
.carousel_container,.carousel_container_big,.carousel_container_round{
  overflow: unset!important;
  z-index: 0;
  margin-bottom: 2%;

}
.carousel_container{
  min-height: 140px;
}
.card_ietms {
  z-index: 0;
  transform: scale(1);
  /* border-radius: 8px; */
  border: 4px solid transparent;
}

.card_ietms_big,
.card_ietms_round {
  z-index: 0;
  /* border: 1px solid white; */
  /* transition: all 0.2s ease-out 0.6s; */
  transform: scale(0.95);
  border-radius: 8px;
  border: 4px solid transparent;
}

.card_ietms img, .card_ietms_big img, .card_ietms_round img{
  width: 100%;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
  z-index: 0;
}

.card_ietms:hover{
  /* transform: scale(1.1);  */
  /* transition: transform 0.2s ease-out 0.6s; */
  /* max-height: 200px; */
  /* width: 350px; */
  /* background-color: var(--header-bg); */

  /* padding: 0; */
  /* border: 2px solid var(--primary); */
  /* box-shadow: 0 0 20px 0 var(--black); */

  z-index: 99;
}
.card_ietms:hover .overlay {
  transition: all 0.2s ease-out 0.0s;
  opacity: 1;

  /* border-bottom: 4px solid var(--primary);
  border-left: 4px solid var(--primary);
  border-right: 4px solid var(--primary); */
}

.card_ietms_start:hover > li {
  margin-left: 60px;
  margin-right: -60px;
}
.card_ietms_end:hover {
  margin-left: -60px;
  margin-right: 60px;
}

.card-left:hover{
  margin-left: 60px;
  margin-right: -60px;
}
.card-right:hover{
  margin-left: -60px;
  margin-right: 60px;
}
.react-multi-carousel-dot-list.custom-dot-list-style{
  position: absolute;
  bottom: 0;

  margin-bottom: 20px!important;
}
.react-multi-carousel-dot button{
  cursor: pointer!important;
  background: var(--header-bg)!important;
  border: none!important;
  position: relative!important;
  z-index: 5!important;
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: var(--primary)!important;
  position: relative!important;
  z-index: 5!important;
}

.itsItemContainer{
  /* padding: 0 calc(6% + 25px)!important; */
  margin: 0 calc(6% + 25px);
}

.row {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.row_middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col_10 {
  width: 10%;
}
.col_15 {
  width: 15%;
}
.col_25 {
  width: 25%;
}
.col_33 {
  width: 33.33%;
}
.col_50 {
  width: 50%;
}
.col_75 {
  width: 75%;
}

.my_30{ margin-top: 30px; margin-bottom: 30px;}

.form_row {
  width: 80%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.form_row input, .form_row select{
  border: 2px solid var(--primary)!important;
  padding: 5px 10px!important;
}

.form_row input[type="time"]{
  width: 20%;
  margin-right: auto;
  color: #858f8f;
}

.row input, .row select, .row textarea{
  padding: 10px;
  margin: 10px;
  border: 2px solid #6bcfcf;
  background-color: #202222;
  color: #858f8f;
  font-size: 13px;
  font-family: 'Poppins';
}
.row input:focus, .row select:focus, .row textarea:focus{
  border: 2px solid #6bcfcf;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px #6bcfcf;
  outline: 0;
}
.row select option{
  font-size: 14px;
  color: var(--dark_three);
  background-color: var(--dark_two);
  height: 20px;
}

/* header carousel in homepage */
.carousel{
  padding-top: 70px;
  margin-bottom: 20px;
}
.carousel img{
  width: 100%;
}

/* Video JS */
.vjs-zicops .vjs-big-play-button {
  border: 2px solid var(--primary)!important;
}

.vjs-zicops .vjs-control-bar{
  background-color: transparent!important;
}

.vjs-zicops .vjs-progress-control {
  position: absolute!important;
  left: 0!important;
  right: 0!important;
  width: 100%!important;

  top: -50px;
  border-radius: 1em;
  transition: top 150ms linear, opacity 150ms linear, transform 150ms linear, -webkit-transform 150ms linear, -moz-transform 150ms linear, -o-transform 150ms linear;
  z-index: 1;
}
.video-js .vjs-progress-holder{
  height: 0.5em!important;
  box-shadow: 0 0 10px 0 #001111;
}
.video-js .vjs-slider{
  background-color: #73859f!important;
}

/* #73859fbf */
.video-js .vjs-play-progress{
  background-color: var(--primary)!important;
}
.video-js .vjs-play-progress::before{
  font-size: 1.5em!important;
  background-color: var(--primary)!important;
  color: var(--primary)!important;
  box-shadow: 0 0 10px 0 #001111;
  border-radius: 50%;
}
.vjs-control-bar{
  display: flex!important;
  justify-content: space-between!important;
  margin: 10px 0;
}

.vjs-default-skin .vjs-play-control:before {
  content: "url('/images/preview-btn.png')"!important;
}
.vjs-play-control .vjs-control .vjs-button .vjs-paused .vjs-icon-placeholder{
  content: url('/images/preview-btn.png')!important;
}
.vjs-default-skin .vjs-playing .vjs-play-control:before {
  content: "url('/images/preview-btn.png')"!important;
}

.zicopsRestartBtn{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/reload_53905.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}
.zicopsPreviousBtn{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/prev-topic.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
  transform: translate(180deg)!important;
}
.zicopsLittleBack{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/prev-back.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}
.zicopsPlayButton{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/preview-btn.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}
.zicopsLittleForward{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/next-forward.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}
.zicopsNextBtn{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/next-topic.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}
.zicopsVolumeBtn{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/volume-up_90749.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}
.zicopsFullScreenBtn{
  /* background-color: #6bcfcf!important; */
  background-image: url('/images/switch-to-full-screen-button_icon.png')!important;
  background-position: center!important; 
  background-repeat: no-repeat!important; 
  background-size: contain!important; 
}

.menuitems[data-reach-menu-list],
.menuitems[data-reach-menu-items]{ 
  color: var(--primary)!important;
  background-color: var(--dark_two)!important;
  border: 1px solid var(--primary)!important;
  padding: 8px!important;
  margin: 3px!important;
}


.mandatory_courses{
  background-color: var(--dark_two);
  padding:50px 20px;
}
.border_right{
  border-right:solid var(--secondary_white);
} 
.mandatory_courses_scroll{
  padding: 20px 50px;
}
.mandatory_courses_heading{
  /* width: 500px;
  margin: auto; */
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: 'Poppins' sans-serif;
  text-transform: uppercase;
  color:white;
  text-align: center;
  /* border: 2px solid var(--primary); */
  margin-bottom:20px;
  text-shadow:0px 1px 10px var(--primary); 
  /* box-shadow:1px 0px 11px 0px var(--primary); */
  margin-right: 50px;
}
.mandatory_courses_table{
 margin-right: 50px;;
}
/* ////////scrollbar style////// */
/* width */
.scroll_body::-webkit-scrollbar {
  width: 15px;
  cursor: pointer;
}
/* Track */
.scroll_body::-webkit-scrollbar-track {
  background: #2a2e31; 
  }
/* Handle */
.scroll_body::-webkit-scrollbar-thumb {
  background: rgb(81, 190, 188); 
  }
/* Handle on hover */
.scroll_body::-webkit-scrollbar-thumb:hover {
  background: rgb(81, 190, 188); 
  }

.scroll_head{
  padding:10px 50px;
  margin: 0px 10px;
  color: var(--white);
}
.head_row{
  color: var(--primary);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  text-transform:capitalize;
  display: flex;
  justify-content: space-between;
}

.scroll_body{
  background-color: var(--background_content);
  padding:10px 50px;
  height: 400px;
  overflow-y: auto;
  margin: 0px 10px;
}
.scroll_row{
  color:rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  text-transform:capitalize;
  padding: 8px 3px;
  border: 1px solid var(--primary);
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins' sans-serif;
  cursor: pointer;
}

.scroll_row:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
  background-color: #6bcfcf10;
  box-shadow: 0px 0px 20px 2px #6bcfcf80;
  font-weight: 600;
  transform: scale(1.01);
 }

 /* .calender_box{
   display: flex;
   justify-content: center;
   align-items: center;
 } */
 .paginationStyle li div{
  color: var(--white);
 }
.paginationStyle button {
  color: var(--white);
  border: 0;
}
.paginationStyle .Mui-selected{
  color: var(--primary)!important;
  font-weight: 600;
  font-size: 16px;
}
.MuiDataGrid-iconButtonContainer{
  color: white;
}
.dropdown-submenu-justifycontent-right {
  display: flex;
  justify-content: flex-end;
  padding: 7px 10px !important;
}
.dropdown-submenu-justifycontent-space-between{
  display: flex;
  justify-content: space-between;
  padding: 7px 10px !important;
}
/* Common calendar styles  */
/* 
.react-datepicker.common_calendar {
  width: 410px !important;
  height: 400px !important;
  background-color: var(--dark_two) !important;
  border: 0;
  margin-bottom: 60px;
}


.common_calendar .react-datepicker__navigation--previous {
  top: 59% !important;
  left: -55px !important;
  width: 50px !important;
  height: 50px !important;
  rotate: 90deg !important;
  border: 1px solid var(--primary) !important;
  text-align: center !important;
  background: url('../public/images/bigarrowleft.png') no-repeat center !important;
}


.common_calendar .react-datepicker__navigation--next {
  top: 59% !important;
  right: -80px !important;
  width: 50px !important;
  height: 50px !important;
  rotate: 90deg !important;
  border: 1px solid var(--primary) !important;
  text-align: center !important;
  background: url('../public/images/bigarrowright.png') no-repeat center !important;
  border: none;
}

.common_calendar .react-datepicker__navigation--previous:hover,
.common_calendar .react-datepicker__navigation--next:hover {
  border: 3px solid var(--primary) !important;
}

.common_calendar .react-datepicker__navigation-icon {
  display: none !important;
}

.common_calendar .react-datepicker__current-month {
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: var(--primary) !important;
  margin-bottom: 20px;
}

.common_calendar .react-datepicker__day-names {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  margin-right: 18px;
}

.common_calendar .react-datepicker__day.common_calendar_dates {
  width: 40px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 6px 0;
  background: var(--header-bg);
  color: var(--primary);
  border: 1px solid var(--primary);
}


.common_calendar .react-datepicker__day.common_calendar_dates:hover {
  border: 3px solid var(--primary) !important;
  background: var(--accent);
  color: var(--primary) !important;
  padding: 4px 0;
  border-radius: 0px;
}

.common_calendar .react-datepicker__week {
  display: flex;
  justify-content: space-around;
}


.common_calendar .react-datepicker__day--outside-month {
  color: var(--primary) !important;
  pointer-events: none;
  border: none !important;
  background: var(--dark_one) !important;
} */