@import '../../styles/base.scss';

.questionSection {
  height: 100vh;
  width: 100%;
  position: relative;
  //margin-top: 70px;
  display: flex;

  .questionSection_questions {
    width: calc(100% - 250px);
    height: 100vh;
    overflow-y: scroll;
    background: #121212;
  }
  /* width */
  .questionSection_questions::-webkit-scrollbar {
    width: 5px;
  }

  .proctor_section {
    width: 250px;
    background: $darkOne;
    height: 100vh;
    overflow-y: scroll;
    //border-left: 2px solid var(--primary);
  }
  .proctor_section::-webkit-scrollbar {
    width: 5px;
  }
}

//Exam instructions

.examInstContainer {
  margin: 50px;
  background-color: $darkOne;
}

.examtitle {
  font-size: larger;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.aboutExam {
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  font-family: 'Open Sans';
  span {
    color: $primary;
    font-family: 'Open Sans';
    span {
      color: $white;
    }
  }

  .leftAbout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 600;
    span {
      font-family: 'Open Sans';
      font-size: medium;
      display: flex;
      align-items: center;
      img {
        height: 21px;
        width: 20px;
        margin-right: 20px;
        object-fit: contain;
      }
      span {
        margin-left: 20px;
      }
    }
  }

  .rightAbout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    span {
      font-family: 'Open Sans';
      display: flex;
      align-items: center;
      font-size: medium;
      font-weight: 600;
      img {
        height: 21px;
        width: 20px;
        margin-right: 20px;
        object-fit: contain;
      }
      span {
        margin-left: 20px;
      }
    }
  }
}

.viewHistory {
  color: $primary;
  position: relative;
  float: right;
  text-decoration: underline;
  margin-right: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}

.instructions {
  color: $white;
  border-radius: 15px;
  background-color: $black;
  margin-top: 30px;
  padding: 20px;
  font-family: 'Open Sans';
  span {
    color: $darkThree;
    font-size: 20px;
    font-weight: 600;
  }

  span:last-child {
    color: $white;
    font-size: medium;
    font-weight: 600;
  }

  .instructionFooter {
    display: flex;
    justify-content: space-between;
    .btn {
      display: flex;
      justify-content: space-between;
      font-family: 'Open Sans';

      button:first-child {
        cursor: pointer;
        background-color: $primary;
        border: none;
        color: $black;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        border-radius: 2px;
        margin-right: 15px;
      }
      button:last-child {
        cursor: pointer;
        background-color: $black;
        border: $primary 2px solid;
        color: $primary;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        border-radius: 2px;
      }
    }
  }
}
