@import '../../styles/base.scss';


.questionSection{
    //height: 100vh;
    width: 100vw;
     //margin-top: 70px;
    display: flex;

    .questionSection_questions{
        width: 80vw;
        height: 100vh;
        overflow-y: scroll;
    }
    /* width */
    .questionSection_questions::-webkit-scrollbar {
        width: 5px;
    }

    .proctor_section{
        width: 20vw;
        background: $darkOne;
        height: 100vh;
        overflow-y: scroll;
        //border-left: 2px solid var(--primary);
    }
    .proctor_section::-webkit-scrollbar {
        width: 5px;
    }
}