@import '../../../styles/base.scss';

.content {
  background-color: $darkOne;
  float: right;
  width: calc(100% - 250px);
  z-index: 1;
  margin-top: 70px;
  height: calc(110vh - 70px);
  overflow: auto;
  padding: 30px 70px;
}

//mainBody
