@import '../../../styles/base.scss';

.cardContainer {
  max-width: 450px;

  background-color: $black;
  color: $white;
  padding: 20px;
  border-radius: 5px;

  .imgContainer {
    border-radius: 10px;
    position: relative;

    img {
      width: 100%;
    }

    .dataOverImg {
      position: absolute;
      bottom: 10px;
      padding: 0px 15px;

      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;

      .type {
        background-color: $black;
        padding: 2px 5px;
        border-radius: 5px;
      }

      .imgIcon {
        margin-right: 10px;
        width: 20px;
      }
    }
  }

  .cardBody {
    margin-bottom: 10px;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .catSubCat {
      word-spacing: 10px;
    }
  }

  .calenderFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .imgIcon {
      width: 20px;
    }
  }
}
