@import '../../../styles/base.scss';

.cardContainer {
  max-width: 450px;
  min-width: 250px;
  background-color: $black;
  color: $white;
  padding: 15px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: stretch;
  align-self: stretch;

  transition: all 0.3s;
  cursor: pointer;

  &.isAdmin {
    background-color: $secondary;
    .type {
      position: absolute;
      top: 20px;
      right: 10px;
    }
  }
  .imgContainer {
    border-radius: 10px;
    position: relative;
    width: 100%;
    // height: calc( / $cardTileRatio);
    margin-bottom: 5px;

    img {
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .dataOverImg {
      position: absolute;
      bottom: 0;
      padding: 10px 5px;
      background: rgb(0, 0, 0);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      span {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .type {
        font-size: 14px;
        background-color: $black;
        padding: 0px 5px;
        border-radius: 5px;
      }

      .imgIcon {
        margin-right: 5px;
        width: 20px;
      }
    }
  }

  .cardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 2px;

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .catSubCat {
      display: flex;
      align-items: center;
      word-spacing: 10px;
      font-size: 14px;
      color: $darkThree;
      font-weight: bold;
    }
  }

  .dot {
    height: 5px;
    width: 5px;
    background-color: $darkThree;
    border-radius: 50%;
    margin: auto 10px;
  }

  .calenderFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .imgIcon {
      width: 20px;
    }
  }

  .progressBarFooter {
    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .percent {
        color: $primary;
      }
    }

    .progress {
      height: 5px;
      background-color: $darkTwo;
      margin-top: 10px;

      span {
        height: 100%;
        background-color: $primary;
      }
    }
  }
}

.cardContainer:hover{
  box-shadow: 0 0 10px 0 rgba($primary, 0.5);
  transform: scale(1.02);
  background-color: $bgTile;
}