@import '../../../styles/base.scss';

.container {
  width: 100%;
  color: $white;

  .input_margin_transform{
    margin-left: 16px;
    text-transform: none;
  }
  .transform_text{
    text-transform: none;
  }

  .navigator{
    display: flex;
    justify-content: space-between;
  }
}